<div class="flex flex-col flex-auto min-w-0">
  <div class="flex flex-col shadow bg-card">
      <div>
          <img class="h-24 lg:h-24 object-fit w-full" src="../../../../assets/images/41.png" alt="Cover image">
      </div>
      <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">
          <div class="-mt-26 lg:-mt-22 rounded-full cursor-pointer relative" matTooltip="Charger l'image du client" (click)="photoP.click()">
              <ng-container>
                <img class="w-24 h-24 rounded-full ring-4 ring-bg-card background_avatarNoImage" src="assets/images/photo-verdure.jpg" alt="">
              </ng-container>
              <input hidden #photoP class="use-avatar" (change)="selectOnFile($event,'photo_profile','Thumbnail')" type="file" id="file" required accept="image/png, image/PNG, image/jpg, image/JPG, image/jpeg, image/JPEG, .pdf , .PDF , .doc , .DOC , .docx , .DOCX , .docm , .DOCM" />
              <div *ngIf="loaderImg" class="absolute top-10 left-10">
                  <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4" [value]="2" [diameter]="30"></mat-progress-spinner>
              </div>
          </div>
          <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
              <div class="text-secondary">Libelle</div>
              <div class="text-lg font-bold leading-none">{{infosPap?.libelle}}</div>
          </div>
          <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>
          <div class="flex items-center mt-4 lg:mt-0 space-x-6">
              <div class="flex flex-col">
                  <span class="text-sm font-medium text-secondary">Statut</span>
                  <span class="font-bold">{{infosPap?.statut}}</span>
              </div>
          </div>
          <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

      </div>
  </div>
  <div class="flex flex-col w-full min-w-0 sm:inset-0 sm:overflow-hidden">
      <mat-drawer-container class="flex-auto sm:h-auto">
          <mat-drawer id="c_mat_drawerId" class="sm:w-80 dark:bg-gray-900 c_mat_drawer" [autoFocus]="false" [mode]="'side'" [opened]="true" #drawer>
              <div class="flex flex-col divide-y border-t border-b">
                  <div class="">
                      <div class="px-8 py-5">
                          <nav class="-mx-3 space-y-6">
                              <div class="space-y-3" *ngFor="let item of menuData">
                                  <label class="px-3 text-xs c_label">{{item?.title}}</label>
                                  <hr>
                                  <button class="flex w-full items-center cursor-pointer px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                      *ngFor="let child of item?.children"
                                      [disabled]="(child.id =='bureau' || child.id == 'audit' || child.id =='wallet' || child.id == 'decouvert') || (infosPap?.statut ==='DEMISSION' ? child.id == 'transfert' : '') || (infosPap?.statut ==='DEMISSION' ? child.id == 'demande' : '')"
                                      (click)="goToPanel(child.id)"
                                      [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== child.id, 'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === child.id}">
                                      <i class="bx {{child?.icon}} icon-size-5"></i>
                                      <span class="mx-2 c_text_sm">{{child?.title}}</span>
                                  </button>
                              </div>
                          </nav>
                      </div>
                  </div>
              </div>
          </mat-drawer>
          <mat-drawer-content class="flex flex-col">
              <div class="flex-auto c_padding">
                  <div class="flex items-center">
                      <button class="lg:hidden -ml-2" (click)="drawer.toggle()">
                          <i class="bx bx-menu"></i>
                      </button>
                  </div>
                  <div class="mt-4">
                    <info-client [infosPap]="infosPap" [persPhysique]="typeClient" [attributComplementaire]="attributComplementaires"></info-client>
                  </div>
              </div>
          </mat-drawer-content>
      </mat-drawer-container>
  </div>
</div>
