.title{
    font-size: 1rem;
}
.circle-loader{
    margin: auto !important;
}
.cSize{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    padding-right:20px;
}
.generate{
    width: fit-content !important;
    background-color: green;
    border-radius: 22px !important;
    font-size: small;
}
.titleRecap{
    font-size: 19px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    margin: auto;
}
.iconColor{
    color: green !important;
}
.butSearch{
    margin-left: auto;
}
.rec{
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
}
.butSearchs{
    display: block;
    background:#f0f4f499 !important;
    margin-right: 10px !important;
}
.c_colorIcom{
    color: #43a14c;
}
.mat-accordion .mat-expansion-panel {
    margin-bottom: 10px !important;
}
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.titleProduit{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
    color: green !important;
    font-size: 18px !important;
    margin-bottom: 30px !important;
    font-weight: bold;
    text-align: center;
  }
  .titleProduitLeft{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
    color: green !important;
    font-size: 18px !important;
    margin-bottom: 30px !important;
    font-weight: bold;
  }
  .tableP {
    table-layout: fixed;
    width: 100% !important;
    background-color: #ffff;

  }
  #tablePartenair th, #tablePartenair td {
    padding: 0px !important;
  }
  .table-primP{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 2px !important;
    color: #000000 !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 15px !important;
    text-align: right !important;
    overflow-x: hidden;
    border: 1px solid;
    border-color:rgba(0, 0, 0, 0.12);
  }
  .example-input{
    border: 1px solid !important;
    border-color: green !important;
    border-radius: 5px !important;
    background-color: #f3f5f7 !important;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
    font-size: 15px !important;
    color: #000000 !important;
    text-align: center !important;
    width: 50%;
    height: 25px;
  }
  #tablePartenair table , #tablePartenair thead tr th {
    text-align: center !important;
}
.example-widths{
    display: flex;
    font-size: 17px;
    border: 1px solid;
}
.example-width{
    font-size: 17px;
    border: 1px solid;
}
#tabFontGarantie table, #tabFontGarantie th{
    // padding: 6px !important;
        background-color: #009036;
        border: 1px solid #009036;
        font-weight: normal;
        text-align: center;
        color: white;
  }
  #tabFontGarantie table{
    border-collapse: collapse;
    margin: auto;
  }
  #tabFontGarantie table, #tabFontGarantie th,#tabFontGarantie td {
    border: 1px solid #009036;
    height: 30px;
    // border-radius: 5px 0px 5px 0px;
  }
  .entete{
    background: green;
    color: white;
}
.tetePage{
    margin: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.tabTransaction{
  border: 1px solid green !important;
}
.nameT{
  font-weight: bold;
  font-size: 16px;
}
.p-88{
  padding-left: 10px;
  padding-right: 10px;
}
