<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <div class="navbar-brand-box">
        <a  class="logo logo-light mt-5">
          <span class="logo-sm">
            <img src="assets/images/logo/Logoinvodis.png" alt="">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo/Logoinvodis.png" alt="">
          </span>
        </a>
      </div>
      <button type="button" class="btn btn-sm px-3 font-size-16 header-item"
        [ngClass]="{ 'd-none': theme === 'horizontal' }" id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
    <div class="d-flex">
      <div class="dropdown d-inline-block d-lg-none ms-2" dropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown"
          aria-haspopup="true" dropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" *dropdownMenu
          aria-labelledby="page-header-search-dropdown">
          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="dropdown d-none d-lg-inline-block ms-1">
        <!-- <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen"
          (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button> -->
      </div>
      <div class="dropdown d-inline-block" dropdown>
        <button type="button" class="btn header-item " dropdownToggle id="page-header-user-dropdown" style="cursor: pointer;">
          <img [src]="myImage" class="rounded-circle header-profile-user me-2 " alt="Header Avatar" />
          <!-- <span class="d-inline-flex align-items-center">
            {{user.user.firstname}}
            <i class="mdi mdi-chevron-down ms-1"></i>
          </span> -->
        </button>
        <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
          <button class="dropdown-item"  (click)="changePassword()">
            <i class="bx bx-lock-alt font-size-16 align-middle me-1"></i>
            Changer le mot de passe
          </button>
          <a class="dropdown-item text-danger" href="javascript:void(0);" (click)="logout()">
            <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            Se déconnecter
          </a>
        </div>
      </div>
      <div class="dropdown d-inline-block me-2" dropdown>
    <button type="button" class="btn header-item noti-icon" dropdownToggle style="cursor: pointer;">
      <i class="bx bx-cog"></i> <!-- Icône de paramètres -->
    </button>
    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
      <h6 class="dropdown-header">Paramètres</h6>
      <a class="dropdown-item" routerLink="/roles">
        <i class="bx bx-list-ul me-1"></i>
        Rôles
      </a>
      <a class="dropdown-item" routerLink="/fonctions">
        <i class="bx bx-list-ul me-1"></i>
        Fonctions
      </a>
      <a class="dropdown-item" routerLink="/categories">
        <i class="bx bx-list-ul me-1"></i>
        Niveaux de privilèges
      </a>
      <a class="dropdown-item" routerLink="/utilisateurs">
        <i class="bx bx-user me-1"></i>
        Utilisateurs
      </a>
    </div>
  </div>
    </div>
  </div>
</header>
