<div>
  <app-page-title title="Liste des maitres d'ouvrages" [breadcrumbItems]="breadCrumbItems"></app-page-title>
</div>
<div class=" row mb-2">
  <div class="col-sm">
    <div class="search-box me-2 d-inline-block">
      <div class="position-relative">
        <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Search..."
          (input)="filterTable($event)">
        <i class="bx bx-search-alt search-icon"></i>
      </div>
    </div>
  </div>
  <div class="col-sm-auto">
    <div class="d-flex flex-wrap gap-2">
      <button type="submit" class="btn bgPrimaire" (click)="addItems()"> <i class="mdi mdi-plus me-1"></i>
        Ajouter un
        maitre d'ouvrage</button>

    </div>

  </div>
</div>




<div style="z-index: 0" class="pt-3">
  <tableau [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [total]="length"
    [coleurEntete]="headers" [entete]="headers" [data]="datas" [actions]="btnActions"
    (changePage)="pageChanged($event)"></tableau>
</div>




<!-- Modal -->
<div bsModal #newContactModal="bs-modal" class="modual fade" id="newContactModal" tabindex="-1"
  aria-labelledby="newContactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">Ajout de MO</h5>
        <button type="button" class="btn-close" (click)="newContactModal.hide()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveUser()" [formGroup]="createMoForm" autocomplete="off"
          class="needs-validation createContact-form" id="createContact-form" novalidate>

          <!-- Image Section -->
          <div class="row">
            <div class="col-lg-12 text-center mb-4">
              <div class="position-relative d-inline-block">
                <div class="position-absolute bottom-0 end-0">
                  <label for="member-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Select Member Image">
                    <div class="avatar-xs">
                      <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                        <i class="bx bxs-image-alt"></i>
                      </div>
                    </div>
                  </label>
                  <input class="form-control d-none" id="member-image-input" type="file"
                    accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                  <!-- Bouton pour supprimer l'image -->
                  @if (uploadedImage) {
                  <div>
                    <button type="button" class="btn btn-danger btn-sm mt-1" id="delete-image-btn"
                      (click)="deleteImage()">
                      <i class="bx bx-trash me-1"></i>
                    </button>
                  </div>
                  }


                </div>
                <div class="avatar-lg">
                  <div class="avatar-title bg-light rounded-circle">
                    <img src="assets/images/users/user-dummy-img.jpg" id="member-img"
                      class="avatar-md rounded-circle h-auto" />
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Form Fields Section -->
          <div class="row">
            <div class="col-lg-6">
              <input type="hidden" class="form-control" id="userid-input">
              <div class="relative">
                <div class="mb-4">
                  <label for="username-input" class="form-label">Nom</label>
                  <input type="text" id="username-input" class="form-control" formControlName="lastname" [ngClass]="{
                      'is-valid': f.lastname.valid || f.lastname.touched,
                      'is-invalid':f.lastname.invalid && f.lastname.touched
                    }" />
                </div>
                @if (f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)) {
                <div class="text-red-600 position-absolute left-1 top-16">
                  @if(f.lastname.errors.required){
                  <div>Veillez saisir le nom</div>
                  }
                  @if(f.lastname.errors.minlength){
                  <div>Veillez saisir minimum 2 caractéres</div>
                  }
                  @if(f.lastname.errors.maxlength){
                  <div>Veillez saisir au maximum 70 caractéres</div>
                  }
                </div>
                }
              </div>
              <div class="relative">
                <div class="mb-4">
                  <label for="username-input" class="form-label">Prénom</label>
                  <input type="text" id="username-input" class="form-control" formControlName="firstname" [ngClass]="{
                    'is-valid': f.firstname.valid || f.firstname.touched,
                    'is-invalid':f.firstname.invalid && f.firstname.touched
                  }" />
                </div>
                @if (f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)) {
                <div class="text-red-600 position-absolute left-1 top-16">
                  @if(f.firstname.errors.required){
                  <div>Veillez saisir le prénom</div>
                  }
                  @if(f.firstname.errors.minlength){
                  <div>Veillez saisir minimum 2 caractéres</div>
                  }
                  @if(f.firstname.errors.maxlength){
                  <div>Veillez saisir au maximum 70 caractéres</div>
                  }
                </div>
                }
              </div>
              <div class="relative">
                <div class="mb-4">
                  <label for="username-input" class="form-label">Contact Mobile</label>
                  <input type="text" id="username-input" class="form-control" formControlName="contact" [ngClass]="{
                    'is-valid': f.contact.valid || f.contact.touched,
                    'is-invalid':f.contact.invalid && f.contact.touched
                  }" />
                </div>
                @if (f.contact.invalid && (f.contact.dirty || f.contact.touched)) {
                <div class="text-red-600 position-absolute left-1 top-16">
                  @if(f.contact.errors.required){
                  <div>Veillez saisir le prénom</div>
                  }
                  @if(f.contact.errors.phoneNumberSn){
                  <div>Le numéro est invalide</div>
                  }
                </div>
                }
              </div>
            </div>
            <div class="col-lg-6">
              <div class="relative">
                <div class="mb-4">
                  <label for="username-input" class="form-label">L'émail</label>
                  <input type="text" id="username-input" class="form-control" formControlName="email" [ngClass]="{
                    'is-valid': f.email.valid || f.email.touched,
                    'is-invalid':f.email.invalid && f.email.touched
                  }" />
                </div>
                @if (f.email.invalid && (f.email.dirty || f.email.touched)) {
                <div class="text-red-600 position-absolute left-1 top-16">
                  @if(f.email.errors.required){
                  <div>Veillez saisir l'émail</div>
                  }
                  @if(f.email.errors.email){
                  <div>L'email est invalid</div>
                  }
                </div>
                }
              </div>
              <div class="relative">
                <div class="mb-4">
                  <label for="username-input" class="form-label">locality</label>
                  <input type="text" id="username-input" class="form-control" formControlName="locality" [ngClass]="{
                    'is-valid': f.locality.valid || f.locality.touched,
                    'is-invalid':f.locality.invalid && f.locality.touched
                  }" />
                </div>
                @if (f.locality.invalid && (f.locality.dirty || f.locality.touched)) {
                <div class="text-red-600 position-absolute left-1 top-16">
                  @if(f.locality.errors.required){
                  <div>Veillez saisir l'localitye</div>
                  }
                  @if(f.locality.errors.minlength){
                  <div>Veillez saisir minimum 2 caractéres</div>
                  }
                  @if(f.locality.errors.maxlength){
                  <div>Veillez saisir au maximum 70 caractéres</div>
                  }
                </div>
                }
              </div>
              <div class="relative">
                <div class="mb-4">
                  <label for="username-input" class="form-label">Date naissance</label>
                  <input class="form-control flatpickr-input" formControlName="date_of_birth" type="text" mwlFlatpickr
                    [ngClass]="{
                    'is-valid': f.date_of_birth.valid || f.date_of_birth.touched,
                    'is-invalid':f.date_of_birth.invalid && f.date_of_birth.touched
                  }">
                </div>
                @if (f.date_of_birth.invalid && (f.date_of_birth.dirty || f.date_of_birth.touched)) {
                <div class="text-red-600 position-absolute left-1 top-16">
                  @if(f.date_of_birth.errors.required){
                  <div>Veillez saisir la date de naissance</div>
                  }
                  @if(f.date_of_birth.errors.minlength){
                  <div>Veillez saisir minimum 2 caractéres</div>
                  }
                  @if(f.date_of_birth.errors.maxlength){
                  <div>Veillez saisir au maximum 70 caractéres</div>
                  }
                </div>
                }
              </div>
            </div>
            <div class="col-lg-6">
              <div class="relative">
                <div class="mb-4">
                  <label for="username-input" class="form-label">Lieu de naissance</label>
                  <input type="text" id="username-input" class="form-control" placeholder=""
                    formControlName="place_of_birth" [ngClass]="{
                      'is-valid': f.place_of_birth.valid || f.place_of_birth.touched,
                      'is-invalid':f.place_of_birth.invalid && f.place_of_birth.touched
                    }" />
                </div>
                @if (f.place_of_birth.invalid && (f.place_of_birth.dirty || f.place_of_birth.touched)) {
                <div class="text-red-600 position-absolute left-1 top-16">
                  @if(f.place_of_birth.errors.required){
                  <div>Veillez saisir le lieu de naissance</div>
                  }
                  @if(f.place_of_birth.errors.minlength){
                  <div>Veillez saisir minimum 2 caractéres</div>
                  }
                  @if(f.place_of_birth.errors.maxlength){
                  <div>Veillez saisir au maximum 70 caractéres</div>
                  }
                </div>
                }
              </div>
            </div>
            <div class="col-lg-6">
              <div class="relative">
                <div class="mb-4">
                  <label class="form-label" for="project-status-input">Projet</label>
                  <div class="form-control">
                    <ng-multiselect-dropdown [placeholder]="'Select Projects'" [settings]="settings"
                      [data]="projectlist" formControlName="project_ids" (onSelect)="onDataSelect($event)"
                      (onDeSelect)="onDataDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)">
                      >
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- Buttons Section -->
          <div class="row">
            <div class="col-lg-12">
              <div class="text-end">
                <button type="button" class="btn btn-outline-danger me-1"
                  (click)="newContactModal.hide()">Annuler</button>
                <button type="submit" id="addContact-btn" class="btn btn-success">Créer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end modal body -->
    </div>
    <!-- end modal-content -->
  </div>
  <!-- end modal-dialog -->
</div>




<!-- removeItemModal -->
<div bsModal #removeItemModal="bs-modal" class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button type="button" class="btn-close position-absolute end-0 top-0 m-3"
          (click)="removeItemModal.hide()"></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">Voulez-vous vraiment supprimer cet utilisateur ?</p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger me-1" id="remove-item"
            (click)="deleteUsers(deleteId)">Supprimer</button>
          <button type="button" class="btn btn-secondary" (click)="removeItemModal.hide()">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end removeItemModal -->
