<app-page-actions
  title="Liste des maitres d'ouvrages"
  icon="bx-user-check"
  [breadcrumbItems]="breadCrumbItems"
  [actions]="pageActions"
  searchPlaceholder="Rechercher un maître d'ouvrage..."
  (onSearch)="filterTable($event)"
  (onAction)="handlePageAction($event)">
</app-page-actions>

<div style="z-index: 0" class="pt-2">
  <tableau
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [total]="length"
    [coleurEntete]="headers"
    [entete]="headers"
    [data]="datas"
    [actions]="btnActions"
    (changePage)="pageChanged($event)">
  </tableau>
</div>

<app-loader-data *ngIf="loadData"></app-loader-data>