<mat-toolbar class="mat-accent m-0 backToolbar">
  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
      <span class="c_title dialog-title">{{dialogTitle}}</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
          <mat-icon>close</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row mb-4 flex flex-col items-center justify-center">
  <form action="" [formGroup]="initForm">
    <div class="">
      <ckeditor [editor]="Editor" data="<p>Content of the editor.</p>" formControlName="contenu"></ckeditor>
    </div>

    <div class="justify-content-center flex items-center flex-row my-2">
      <div class="mx-2">
        <button type="submit" class="btn bgPrimaire" (click)="ajoutConstemment()">Ajouter</button>
      </div>
      <div class="">
        <button style="background-color: #D45C00;"  class="btn btn-danger  cursor-pointer">Annuler</button>
      </div>
    </div>
  </form>

</div>
