<app-page-actions
  title="Liste des rencontres pour l'élaboration du PAR"
  icon="bx-group"
  [breadcrumbItems]="breadCrumbItems"
  [actions]="pageActions"
  searchPlaceholder="Rechercher une rencontre..."
  (onSearch)="filterTable($event)"
  (onAction)="handlePageAction($event)">
</app-page-actions>

<div style="z-index: 0" class="pt-2">
  <tableau
    *ngIf="!loadData"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [total]="length"
    [coleurEntete]="headers"
    [entete]="headers"
    [data]="datas"
    [actions]="btnActions"
    (changePage)="pageChanged($event)">
  </tableau>
</div>

<app-loader-custom *ngIf="loadData"></app-loader-custom>