.container-fluid h1{
  font-size:17px;
  font-weight: bold;
}

.dashboard{
  box-shadow: 35px 35px 35px 35px #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white
}

.dashboard h2{
  font-size: 20px;
  align-items: start;
}


.card {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  flex: 1;
  min-width: 150px;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size:15px;
  color:rgb(66, 69, 71);
  font-style: italic;
  font-weight: bolder;
}

.titre{
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

.table
{
  width: 650px;
}
.table thead
{
 border-radius: 25px;
}

.table thead  th{
  color: white;
  font-size: 12px;

}
.table tr  td{
  color: black;
  font-size: 15px;

}
button{
  border: none;
  background-color: transparent;
}
