<div class="container-fluid stats-container">
  <h1 class="main-title couleurPrimary">
    <mat-icon>assessment</mat-icon> Statistiques des données
  </h1>

<div class="stats-cards">
    <div class="stats-card">
      <div class="card-icon">
        <mat-icon>people</mat-icon>
      </div>
      <div class="card-value"> {{placeAffaireStats?.Sexes_globaux?.Total + agricoleStats?.Sexes_globaux?.Total }}</div>
      <div class="card-label">Personnes affectées</div>
    </div>

    <div class="stats-card">
      <div class="card-icon">
        <mat-icon>wc</mat-icon> 
      </div>
<div class="gender-stats">
  <div class="gender-value male">
    ({{ getGlobalPercentage(
          placeAffaireStats?.Sexes_globaux.Hommes,
          placeAffaireStats?.Sexes_globaux.Total,
          agricoleStats?.Sexes_globaux.Hommes,
          agricoleStats?.Sexes_globaux.Total
        ).toFixed(1) }}%)
  </div>
  <div class="gender-value female">
    ({{ getGlobalPercentage(
          placeAffaireStats?.Sexes_globaux.Femmes,
          placeAffaireStats?.Sexes_globaux.Total,
          agricoleStats?.Sexes_globaux.Femmes,
          agricoleStats?.Sexes_globaux.Total
        ).toFixed(1) }}%)
  </div>
</div>


      <div class="card-label">Répartition H/F</div>
    </div>

    <div class="stats-card">
      <div class="card-icon">
        <mat-icon>feedback</mat-icon>
      </div>
      <div class="card-value">{{ getVulnerablePeopleCount() }}</div>
      <div class="card-label">Effectif global des pap vulnérables</div>
    </div>

    <div class="stats-card">
      <div class="card-icon">
        <mat-icon>meeting_room</mat-icon>
      </div>
      <div class="card-value">{{lengthRencontre}}</div>
      <div class="card-label">Nombre de consultations</div>
    </div>
</div>
  <div class="graphs-section">
    <h1 class="section-title couleurPrimary">
      <mat-icon>show_chart</mat-icon> Statistiques
    </h1>

    <div class="stats-table">
  <h2>Répartition des PAP selon les critères de vulnérabilité</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Regroupement</th>
        <th>Effectif féminin</th>
        <th>Effectif masculin</th>
        <th>Effectif total</th>
        <th>Total compensations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="placeAffaireStats">
        <td> Place Affaire/Economique</td>
        <td>{{ getVulnerablePlaceAffaireBySex().femmes }}</td>
         <td>{{ getVulnerablePlaceAffaireBySex().hommes }}</td>
        <td>{{ getVulnerablePlaceAffaireBySex().hommes + getVulnerablePlaceAffaireBySex().femmes }}</td>
        <td>{{ placeAffaireStats.Sexes_globaux.TotalCompensation || 0 }}</td>
      </tr>
      <tr *ngIf="agricoleStats">
        <td>Agricole/Exploitant</td>
        <td>{{ getVulnerableAgricoleBySex().femmes  }}</td>
         <td>{{ getVulnerableAgricoleBySex().hommes }}</td>
        <td>{{getVulnerableAgricoleBySex().hommes +  getVulnerableAgricoleBySex().femmes }}</td>
        <td>{{ agricoleStats.totalCompensation || 0 }}</td>
      </tr>
      <tr *ngIf="totalStats" class="total-row">
        <td><strong>Total</strong></td>
        <td><strong>{{ getVulnerablePlaceAffaireBySex().femmes + getVulnerableAgricoleBySex().femmes }}</strong></td>
        <td><strong>{{ getVulnerablePlaceAffaireBySex().hommes + getVulnerableAgricoleBySex().hommes }}</strong></td>
        <td><strong>{{ getVulnerablePlaceAffaireBySex().femmes + getVulnerableAgricoleBySex().femmes +  getVulnerablePlaceAffaireBySex().hommes + getVulnerableAgricoleBySex().hommes  }}</strong></td>
        <td><strong>{{ totalStats.totalCompensation || 0 }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="combined-vulnerability-table">
  
<div class="vulnerability-container">
  <h2>Répartition des vulnérabilités par critère</h2>
  

  
  <table class="vulnerability-table">
    <thead>
      <tr>
        <th>Catégories</th>
        <th *ngFor="let criterion of VULNERABILITY_CRITERIA">{{ criterion.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Place Affaire/Economiaue</td>
        <td *ngFor="let criterion of VULNERABILITY_CRITERIA">
          {{ getCriterionCount('placeAffaireStats', criterion.key) }}
        </td>
      </tr>
      <tr>
        <td>Agricole/Exploitant</td>
        <td *ngFor="let criterion of VULNERABILITY_CRITERIA">
          {{ getCriterionCount('agricoleStats', criterion.key) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
  </div>

  

  <!-- Section Documents et Carte -->
  <div class="documents-map-section">
    <div class="map-container">
      <h2 class="section-title couleurPrimary">
        <mat-icon>map</mat-icon> Délimitation de la zone impactée par le projet des pap places affaires
      </h2>
      <app-pap-google-maps [paps]="paps" [isLoading]="isLoadingPap"></app-pap-google-maps>
    </div>
  </div>

    <div class="documents-map-section">
    <div class="map-container">
      <h2 class="section-title couleurPrimary">
        <mat-icon>map</mat-icon> Délimitation de la zone impactée par le projet des pap places agricoles
      </h2>
      <app-pap-multi-polygon-maps [paps]="papsAgricole" [isLoading]="isLoadingPap"></app-pap-multi-polygon-maps>
    </div>
  </div>

  <!-- Section Calendrier -->
   <div>
    <h2 class="section-title couleurPrimary">
      <mat-icon>calendar_today</mat-icon> Calendrier des  tâches
    </h2>
  <app-calendar-component [tasks]="tasksData"></app-calendar-component>
   </div>
  <!-- Section Tableaux -->
  <div class="tables-section">
    <!-- Tableau Rencontres -->
    <div class="table-container">
      <h2 class="section-title couleurPrimary">
        <mat-icon>event_note</mat-icon> Résumé des rencontres
      </h2>

      <div class="custom-table">
        <div class="table-header">
          <div class="header-cell">#</div>
          <div class="header-cell">Type d'engagement</div>
          <div class="header-cell">Date</div>
          <div class="header-cell">Référence compte rendu</div>
          <div class="header-cell">Action</div>
        </div>

        <div class="table-body">
          <!-- <div class="table-row"
            *ngFor="let rencontre of lisRencontre | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
            <div class="table-cell">{{ rencontre.id }}</div>
            <div class="table-cell">{{ rencontre.libelle }}</div>
            <div class="table-cell">{{ rencontre.date }}</div>
            <div class="table-cell">{{ rencontre.urlPvRencontre }}</div>
            <div class="table-cell">
              <button class="view-btn" (click)="openImageModal(rencontre.urlPvRencontre)" title="Voir le PV">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div> -->
        </div>
      </div>

      <!-- <pagination-controls (pageChange)="page = $event" class="custom-pagination"></pagination-controls> -->
    </div>

    <!-- Tableau Budget -->
    <div class="table-container">
      <h2 class="section-title couleurPrimary">
        <mat-icon>attach_money</mat-icon> Estimation des coûts
      </h2>
      <div class="custom-table">
        <div class="table-header">
          <div class="header-cell">Catégories</div>
          <div class="header-cell">Compensation</div>
        </div>
        <div class="table-body">
          <div class="table-row">
            <div class="table-cell">Pap place affaires/économiques</div>
            <div class="table-cell">{{placeAffaireStats?.statsPertes?.totalPerte | currency:'CFA ':true:'1.0-0'}}</div>
          </div>
          <div class="table-row">
            <div class="table-cell">Pap Agricoles/exploitants</div>
            <div class="table-cell">{{agricoleStats?.statsPertes?.totalPerte | currency:'CFA ':true:'1.0-0'}}</div>
          </div>
          <!-- Répéter pour les autres lignes -->
          <div class="table-row total-row">
            <div class="table-cell">Total général</div>
            <div class="table-cell">{{ (placeAffaireStats?.statsPertes?.totalPerte + agricoleStats?.statsPertes?.totalPerte) | currency:'CFA ':true:'1.0-0' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- container-fluid -->
