<div class="container-fluid">

  <h1 class="couleurPrimary py-3">Statistiques des données</h1>
  <div class="row">
    <!-- Colonne Personnes Affectées -->
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h4>{{lengthPap}}</h4>
          <p>Personnes affectées</p>
        </div>
      </div>
    </div>

    <!-- Colonne Parties Intéressées -->
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h4>{{lengthPip}}</h4>
          <p>Parties intéressées</p>
        </div>
      </div>
    </div>

    <!-- Colonne Nombre de Plaintes -->
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h4>{{lengthPlainte}}</h4>
          <p>Nombre de plaintes</p>
        </div>
      </div>
    </div>

    <!-- Colonne Nombre de Consultations -->
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h4>{{lengthRencontre}}</h4>
          <p>Nombre de consultations</p>
        </div>
      </div>
    </div>
  </div>









<div>
  <h1 class="couleurPrimary py-3">Statistiques</h1>
</div>
  <div class="dashboard">
    <div class="">
      <h2 class="titre couleurPrimary">Statistiques des Plaintes</h2>
      <apx-chart [series]="complaintChart.series" [chart]="complaintChart.chart" [labels]="complaintChart.labels"
        [colors]="complaintChart.colors" [legend]="complaintChart.legend">
      </apx-chart>
    </div>
    <div>
      <h2 class="titre couleurPrimary">Statistiques des pap</h2>
      <apx-chart [series]="vulnerabilityChart.series" [chart]="vulnerabilityChart.chart"
        [labels]="vulnerabilityChart.labels" [colors]="vulnerabilityChart.colors" [legend]="vulnerabilityChart.legend">
      </apx-chart>
    </div>
  </div>
  <div class="d-flex justify-between my-3 ">
    <div class="mx-2">
      <label class="titre couleurPrimary">Liste des documents enregistrés</label>

      <table class="table table-nowrap align-middle table-hover mb-0">
        <tbody>
          <tr *ngFor="let item of listDocument; let i = index">
            <td style="width: 45px;">
              <div class="avatar-sm">
                <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24">
                  <i class="bx bxs-file-doc"></i>
                </span>
              </div>
            </td>
            <td>
              <h5 class="font-size-14 mb-1">
                <a [href]="item.fichierUrl" class="text-dark" target="_blank">
                  {{ getFileName(item.libelle) }}
                </a>
              </h5>
            </td>
            <td>
              <div class="text-center">
                <a [href]="item.urlDocument" target="_blank" class="text-dark">
                  <i class="bx bx-download h3 m-0"></i>
                </a>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <label for="" class="titre couleurPrimary" >Délimitation de la zone impacté par le projet</label>
      <img src="assets/images/villageImpacte.png" alt="" srcset="" height="300px">
    </div>
  </div>
  <div class="d-flex justify-between mt-5">
    <div>
      <label for="" class="titre couleurPrimary">Résumé des rencontres menées dans le cadre de l’élaboration du PAR</label>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Type d'engagement</th>
            <th>Date</th>
            <th>Référence compte rendu</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let engagement of engagements | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ engagement.type }}</td>
            <td>{{ engagement.date }}</td>
            <td>{{ engagement.reference }}</td>
            <td>
              <button class="" (click)="viewPV(engagement.reference)" title="Voir le PV">
                <i class="fa fa-eye" style="color: green;"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

    <div>
      <label for="" class="titre couleurPrimary">Estimation des coûts et budget du PAR 3 pour le dédommagement des biens
        affectés</label>
      <table class="table">
        <thead>
          <tr>
            <th>Type de pertes</th>
            <th>Compensation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Arbres</td>
            <td>5 199 399 900</td>
          </tr>
          <tr>
            <td>Cultures annuelles</td>
            <td>57 767 630</td>
          </tr>
          <tr>
            <td>Cultures pérennes</td>
            <td>38 139 297 020</td>
          </tr>
          <tr>
            <td>Infrastructures</td>
            <td>139 179 485</td>
          </tr>
          <tr>
            <td>Terres</td>
            <td>3 080 554 601</td>
          </tr>
          <tr>
            <td>Total général</td>
            <td>46 616 198 636</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>


</div>



<!-- container-fluid -->
