<div class="flex flex-col flex-auto min-w-0">
  <button
    class="px-4 mb-2 w-[120px] py-2 bg-green-500 hover:bg-green-600 text-white font-semibold rounded shadow-md flex items-center justify-center space-x-2 transition-all duration-300"
    onclick="history.back()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
      class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
    </svg>
    <span>Retour</span>
  </button>


  <div class="flex flex-col shadow bg-card">
    <div>
      <img class="h-24 lg:h-24 object-cover w-full" src="../../../../assets/images/41.jpg" alt="Cover image">
    </div>
    <div class="d-flex justify-between items-center ">
      <div class="-mt-26 lg:-mt-22 rounded-full cursor-pointer relative" matTooltip="Charger l'image du client"
        (click)="photoP.click()">
        <ng-container>
          <img class="w-32 h-32 rounded-full ring-4 ring-bg-card background_avatarNoImage" [src]="imagePath || noImage"
            alt="">
        </ng-container>
        <ng-container *ngIf="noImage === ''">
          <h1 class="w-26 h-26 rounded-full object-center ring-4 ring-bg-card background_avatar">
            {{getFirstElementWord(infosClient?.intitule)}}</h1>
        </ng-container>
        <input hidden #photoP class="use-avatar" (change)="selectOnFile($event,'photo_profile','Thumbnail')" type="file"
          id="file" required
          accept="image/png, image/PNG, image/jpg, image/JPG, image/jpeg, image/JPEG, .pdf , .PDF , .doc , .DOC , .docx , .DOCX , .docm , .DOCM" />
        <div *ngIf="loaderImg" class="absolute top-10 left-10">
          <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4"
            [value]="2" [diameter]="30">
          </mat-progress-spinner>
        </div>
      </div>

      <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
        <div class="text-secondary">Id Pap</div>
        <div class="text-lg font-bold leading-none">{{infosPap?.idPap}}</div>
      </div>
      <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>
      <div class="flex items-center mt-4 lg:mt-0 space-x-6">
        <div class="flex flex-col">
          <span class="text-sm font-medium text-secondary">Numéro d'identification</span>
          <span class="font-bold">{{infosPap?.numeroIdentification}}</span>
        </div>
      </div>
      <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>
      <div class="flex items-center mt-6 lg:mt-0 space-x-6">
        <div class="flex flex-col">
          <button (click)="signatureClient()" class="c_btnAccount_attribut c_btnAccountF h-10 w-10 rounded-full"
            matTooltip="Voir Signature pap">
            <i class="bx bx-pencil"></i>
          </button>
        </div>
      </div>
      <div class="flex items-center mt-8 mb-4  justify-between">
        <button class="fuse-mat-button-rounded  bg-green-500 p-2 rounded-md text-white mx-1 "
          matTooltip="dédommager client" (click)="changeClient('dedommage',infosPap.id)">
          <i class="bx bx-user-check" style="color: #FFFFFF !important;"></i>
          <span class="ml-2">Dédommager</span>
        </button>
        <button type="submit" class="btn btn-success  " (click)="triggerFileUpload()"> <i
            class="mdi mdi-file-excel me-1">Importer une plainte</i>
        </button>
        <button type="submit" class="btn btn-success mx-1" (click)="addItems()"> <i
            class="mdi mdi-file-excel me-1">Formuler une plainte</i>
        </button>
        <input type="file" id="file-upload" (change)="fileUpload($event)" name="fileUpload" accept=".xls,.xlsx"
          style="display: none;">

        <div *ngIf="loader">
          <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4"
            [value]="2" [diameter]="20"></mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>

  @if (dataExcel.length>0) {
  <app-datatable [headings]="headings" [dataExcel]="dataExcel"></app-datatable>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-end">
        <button type="button" class="btn btn-danger me-1 w-36" (click)="resetDataFromExcel()">Annuler</button>
        <button type="submit" class="btn btn-success  w-36" (click)="importData()">Ajouter</button>
      </div>
    </div>
  </div>
  }

  <div class="flex flex-col w-full min-w-0 sm:inset-0 sm:overflow-hidden">
    <mat-drawer-container class="flex-auto sm:h-auto">
      <mat-drawer id="c_mat_drawerId" class="sm:w-80 dark:bg-gray-900 c_mat_drawer" [autoFocus]="false" [mode]="'side'"
        [opened]="true" #drawer>
        <div class="flex flex-col divide-y border-t border-b">
          <div class="">
            <div class="px-8 py-5">
              <nav class="-mx-3 space-y-6">
                <div class="space-y-3" *ngFor="let item of menuData">
                  <label class="px-3 text-xs c_label">{{item?.title}}</label>
                  <hr>
                  <button
                    class="flex w-full items-center cursor-pointer px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                    *ngFor="let child of item?.children"
                    [disabled]="(child.id =='bureau' || child.id == 'audit' || child.id =='wallet' || child.id == 'decouvert') || (infosPap?.statut ==='DEMISSION' ? child.id == 'transfert' : '') || (infosPap?.statut ==='DEMISSION' ? child.id == 'demande' : '')"
                    (click)="goToPanel(child.id)" [ngClass]="{
                        'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== child.id,
                        'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === child.id,
                        'act': selectedPanel === child.id
                      }">
                    <i class="bx {{child?.icon}} icon-size-5"></i>
                    <span class="mx-2 c_text_sm">{{child?.title}}</span>
                  </button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </mat-drawer>

      <mat-drawer-content class="flex flex-col">
        <div class="flex-auto c_padding">
          <div class="flex items-center">
            <button class="lg:hidden -ml-2" (click)="drawer.toggle()">
              <i class="bx bx-menu"></i>
            </button>
          </div>
          <div class="mt-4">
            <div [ngSwitch]="selectedPanel">
              <div *ngSwitchCase="'info-client'">
                <info-client [infosPap]="infosPap">
                </info-client>
              </div>
              <div *ngSwitchCase="'plainte'">
                <div style="z-index: 0" class="pt-3">
                  <tableau [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                    [total]="length" [coleurEntete]="headers" [entete]="headers" [data]="datas" [actions]="btnActions"
                    (changePage)="pageChanged($event)"></tableau>
                </div>
              </div>

              <!-- <div *ngSwitchCase="'entente'">
                          <div style="z-index: 0" class="pt-3">
                            <tableau [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [total]="length"
                              [coleurEntete]="headers" [entete]="headers" [data]="datas" [actions]="btnActions"
                              (changePage)="pageChanged($event)"></tableau>
                          </div>
                        </div> -->

            </div>

          </div>

        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
