<div class="container-fluid">
  <app-page-title title="Création d'un projet"></app-page-title>
  <form action="" [formGroup]="projectForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <input type="hidden" class="form-control" id="formAction" name="formAction" value="add">
            <input type="hidden" class="form-control" id="project-id-input">
            <div class="row">
              <div class="col-lg-12 text-center mb-4">
                <div class="position-relative d-inline-block">
                  <label for="" class="text-xl font-bold my-2 text-black">Logo</label>
                  <div class="position-absolute bottom-0 end-0">
                    <label for="member-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                      title="Select Member Image">
                      <div class="avatar-xs">
                        <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                          <i class="bx bxs-image-alt"></i>
                        </div>
                      </div>
                    </label>
                    <input class="form-control d-none" id="member-image-input" type="file"
                      accept="image/png, image/gif, image/jpeg"
                      (change)="selectOnFile($event,'photo_profile','Thumbnail')">
                    @if (uploadedImage) {
                    <div>
                      <button type="button" class="btn btn-danger btn-sm mt-1" id="delete-image-btn"
                        (click)="deleteImage()">
                        <i class="bx bx-trash me-1"></i>
                      </button>
                    </div>
                    }


                  </div>
                  <div class="avatar-lg">
                    <div class="avatar-title bg-light rounded-circle">
                      <!-- <img src="assets/images/users/user-dummy-img.jpg" id="member-img"
                        class="avatar-md rounded-circle h-auto" /> -->
                      <img [src]="imageToff ? imageToff : 'assets/images/users/user-dummy-img.jpg'"
                        class="avatar-md rounded-circle h-auto" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative">
              <div class="mb-4">
                <label for="libelle-input" class="form-label">Libellé</label>
                <input id="libelle-input" formControlName="libelle" type="text" class="form-control"
                  placeholder="Enter project name..." [ngClass]="{
                    'is-valid': f.libelle.valid || f.libelle.touched,
                    'is-invalid':f.libelle.invalid && f.libelle.touched
                  }">
              </div>
              @if(f.libelle.invalid && (f.libelle.dirty || f.libelle.touched)){
              <div class="text-red-600 position-absolute left-1 top-16">
                @if(f.libelle.errors.required){
                <div>Le nom du projet est obligatoire</div>
                }
                @if(f.libelle.errors.minlength){
                <div>Veillez saisir minimum trois caractéres</div>
                }
                @if(f.libelle.errors.maxlength){
                <div>Veillez saisir au maximum 150 caractéres</div>
                }

              </div>
              }
            </div>

            <div class="relative">
              <div class="mb-3">
                <label for="projectdesc-input" class="form-label">Description</label>
                <textarea class="form-control" formControlName="description" id="projectdesc-input" rows="3"
                  placeholder="Enter project description..." [ngClass]="{
                    'is-valid': f.description.valid || f.description.touched,
                    'is-invalid':f.description.invalid && f.description.touched
                  }"></textarea>

              </div>

              @if (f.description.invalid && (f.description.touched || f.description.dirty)) {
              <div class="text-red-600">
                @if (f.description.errors.required) {
                <span>Veillez saisir la description du projet</span>
                }
                @if (f.description.errors.minlength) {
                <span>Veillez saisir minimum 5 caractéres</span>
                }
              </div>
              }
            </div>

            <div class="mb-3 position-relative">

              <label for="task-assign-input" class="form-label">Assigné à</label>
              <div *ngIf="assignList && assignList.length > 0" class="d-flex flex-wrap mb-2">
                <ng-container *ngFor="let data of assignList; let i = index">
                  <div class="d-flex align-items-center me-3">
                    @if (data.image) {
                    <img [src]="getImageFromBase64(data.image.type,data.image.image)" alt=""
                      class="rounded-circle avatar-xs me-2">
                    }
                    <span>{{ data.lastname }}</span>
                  </div>
                </ng-container>
              </div>
              <div class="select-element" id="select-element" dropdown>
                <button class="btn btn-light w-100 d-flex justify-content-between" dropdownToggle type="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <span>Assigné à <b id="total-assignee" class="mx-1">{{assignList?.length}}</b> Members</span>
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu w-100" *dropdownMenu>
                  <ngx-simplebar style="max-height: 172px">
                    <ul class="list-unstyled mb-0 assignto-list">
                      <ng-container *ngFor="let data of listMo; let i = index">
                        <li>
                          <a class="dropdown-item d-flex align-items-center"
                            [ngClass]="{'active': data.checked === '1'}" href="javascript:void(0);"
                            (click)="slectMember(i)">
                            <div class="avatar-xs flex-shrink-0 me-2">
                              @if (data.image) {
                              <img [src]="getImageFromBase64(data.image.type,data.image.image)" alt=""
                                class="img-fluid rounded-circle" />
                              }

                            </div>
                            <div class="flex-grow-1">{{ data.lastname }}</div>
                          </a>
                        </li>
                      </ng-container>
                    </ul>
                  </ngx-simplebar>
                </div>
              </div>
            </div>
            <div class="inner-repeater mb-4">
              <form [formGroup]="form">
                <div class="inner mb-0 row" formArrayName="members">
                  <label class="col-form-label col-lg-2">Normes : </label>
                  @for(data of members.controls;track $index){
                  <div class="inner col-lg-10 ms-md-auto" [formGroupName]="$index">
                    <div class="mb-3 row align-items-center">
                      <div class="col-md-4">
                        <input type="text" formControlName="titre" class="inner form-control" placeholder="Titre..." />
                      </div>
                      <div class="col-md-6">
                        <div class="mt-4 mt-md-0">
                          <textarea type="text" formControlName="description" class="inner form-control"
                            placeholder="Valeur..."></textarea>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="mt-2 mt-md-0 d-grid">
                          <input type="button" class="btn btn-danger inner" value="Delete"
                            (click)="deleteMember($index)" />
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </form>
              <div class="row justify-content-end">
                <div class="col-lg-10">
                  <input data-repeater-create type="button" class="btn bgPrimaire inner" value="Ajouter une norme"
                    (click)="addMember()" [disabled]="form.invalid" />
                </div>
              </div>
            </div>

            <!-- <div>
              <label class="form-label">Fichiers attachés</label>
              <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Drop files here or click to upload.'"
                (success)="onUploadSuccess($event)">
              </dropzone>


              <ul class="list-unstyled mb-0" id="dropzone-preview" *ngIf="uploadedFiles && uploadedFiles.length > 0">
                <li class="mt-2" id="dropzone-preview-list" *ngFor="let file of uploadedFiles; trackBy: $index">
                  <div class="border rounded">
                    <div class="d-flex p-2">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm bg-light rounded">
                          <ng-container *ngIf=" file.type && file.type.startsWith('image/'); else otherFileType">
                            <img class="img-fluid rounded d-block" [src]="file.dataURL" alt="Dropzone-Image" />
                          </ng-container>
                          <ng-template #otherFileType>
                            <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                          </ng-template>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <div class="pt-1">
                          <h5 class="fs-md mb-1">{{ file.name }}</h5>
                          <p class="fs-sm text-muted mb-0">{{ file.size }} bytes</p>
                          <strong class="error text-danger" data-dz-errormessage></strong>
                        </div>
                      </div>
                      <div class="flex-shrink-0 ms-3">
                        <button (click)="removeFile(file)" class="btn btn-sm btn-danger">Supprimé</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->


          </div>
          <!-- end card body -->
        </div>
        <!-- end card -->

      </div>
      <!-- end col -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Statut</h5>

            <div class="mb-3">
              <label class="form-label" for="project-status-input">Etat</label>
              <select class="form-select" formControlName="status" id="project-status-input" [ngClass]="{
                'is-valid': f.status.valid || f.status.touched,
                'is-invalid':f.status.invalid && f.status.touched
              }">
                <option value="Completed">Completed</option>
                <option value="Inprogress" selected>Inprogress</option>
                <option value="Delay">Delay</option>
              </select>
              <div class="invalid-feedback">Please select project status.</div>
            </div>
            <!-- <div class="relative">
              <div class="mb-4">
                <label class="form-label" for="project-visibility-input">Catégorie</label>
                <input matInput id="libelle-input" [matAutocomplete]="autoDepatement" (change)="updateForm($event)"
                  formControlName="categorie" type="text" class="form-control" [ngClass]="{
                  'is-valid': f.categorie.valid || f.categorie.touched,
                  'is-invalid':f.categorie.invalid && f.categorie.touched
                }">
                <mat-autocomplete #autoDepatement="matAutocomplete"
                  (optionSelected)="updateFormWithSelectedOption($event)">
                  <mat-option *ngFor="let suggestion of suggestions$ | async" [value]="suggestion">
                    {{ suggestion }}
                  </mat-option>
                </mat-autocomplete>
              </div>
              @if(f.categorie.invalid && (f.categorie.dirty || f.categorie.touched)){
              <div class="text-red-600 position-absolute left-1 top-16">
                @if(f.categorie.errors.required){
                <div>Veillez saisir la catégorie du projet</div>
                }
                @if(f.categorie.errors.minlength){
                <div>Veillez saisir minimum trois caractéres</div>
                }
                @if(f.categorie.errors.maxlength){
                <div>Veillez saisir au maximum 150 caractéres</div>
                }
              </div>
              }
            </div> -->
          </div>
          <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="relative">
          <div class="card-body mb-4">
            <h5 class="card-title mb-3">Date du début</h5>
            <input class="form-control flatpickr-input" formControlName="datedebut" type="text" mwlFlatpickr [ngClass]="{
              'is-valid': f.datedebut.valid || f.datedebut.touched,
              'is-invalid':f.datedebut.invalid && f.datedebut.touched
            }">
          </div>

          @if(f.datedebut.invalid && (f.datedebut.dirty || f.datedebut.touched)){
          <div class="text-red-600 position-absolute left-1 top-16">
            @if(f.datedebut.errors.required){
            <div>Veillez saisir la date du début du projet</div>
            }

          </div>
          }

        </div>
        <div class="relative">
          <div class="card-body mb-4">
            <h5 class="card-title mb-3">Date de la Fin</h5>
            <input class="form-control flatpickr-input" formControlName="datefin" type="text" mwlFlatpickr [ngClass]="{
              'is-valid': f.datefin.valid || f.datefin.touched,
              'is-invalid':f.datefin.invalid && f.datefin.touched || projectForm.errors?.dateInvalid
            }">
          </div>

          @if(f.datefin.invalid && (f.datefin.dirty || f.datefin.touched)){
          <div class="text-red-600 position-absolute left-1 top-16">
            @if(f.datefin.errors.required){
            <div>Veillez saisir la date de la fin du projet</div>
            }

          </div>
          }
          <div *ngIf="projectForm.errors?.dateInvalid && (f.datedebut.touched || f.datefin.touched)"
            class="text-red-600 position-absolute left-1 top-17">
            La date de fin ne peut pas être inférieure à la date de début.
          </div>
        </div>

        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->

    <app-loader-custom *ngIf="isloading"></app-loader-custom>
    <div class="col-lg-8">
      <div class="text-end mb-4">
        <button type="submit" id="addContact-btn" class="btn bg-[#245363] text-white hover:bg-[#93C5AF]"> {{ buttonText
          }}</button>
      </div>
    </div>
    <!-- end row -->
  </form>
</div>
