<app-page-actions
  title="Liste des Consultants"
  [breadcrumbItems]="breadCrumbItems"
  searchPlaceholder="Rechercher un consultant..."
  [actions]="pageActions"
  (onSearch)="filterTable($event)"
  (onAction)="handleAction($event)">
</app-page-actions>

<div class="pt-3" style="z-index: 0">
  <tableau
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [total]="length"
    [coleurEntete]="headers"
    [entete]="headers"
    [data]="datas"
    [actions]="btnActions"
    (changePage)="pageChanged($event)">
  </tableau>
</div>

<app-loader-data *ngIf="loadData"></app-loader-data>