.title {
    font-size: 1rem;
}

.circle-loader {
    margin: auto !important;
}

.r-large {
    padding: 0 55px 0 41px !important;
}

.formInfMiddle2 {
    width: 100% !important;
}
.trss{
    width: 49%;
}
.use-avatar {
    overflow: hidden;
    width: 100%;
    height: 48px;
    margin-right: 16px;
    margin-bottom: 16px;
    .s-32 {
      //  color: #3c3737 !important;
        position: relative;
        margin: 15px;
    }
}

.user-avatar:hover {
    border: #0B71B8 dotted 3px;
}
