<div class="pha-wrapper">

  <!-- Top row: icon + title/breadcrumb | actions -->
  <div class="pha-header">

    <div class="pha-left">
      <div class="pha-icon">
        <i [class]="'bx ' + icon"></i>
      </div>
      <div class="pha-text">
        <h4 class="pha-title">{{ title }}</h4>
        <ol class="pha-breadcrumb">
          <li
            *ngFor="let item of breadcrumbItems; let last = last"
            class="pha-bc-item"
            [class.active]="item.active">
            <a *ngIf="item.link && !item.active" [href]="item.link">{{ item.label }}</a>
            <span *ngIf="!item.link || item.active">{{ item.label }}</span>
            <span *ngIf="!last" class="pha-sep">/</span>
          </li>
        </ol>
      </div>
    </div>

    <div class="pha-right" *ngIf="visibleActions.length > 0">
      <button
        *ngFor="let action of visibleActions"
        type="button"
        [class]="'pha-btn pha-btn--' + (action.type || 'primary')"
        [disabled]="action.disabled"
        (click)="handleAction(action.action)">
        <i *ngIf="action.icon" [class]="action.icon"></i>
        <span>{{ action.label }}</span>
      </button>
    </div>

  </div>

  <!-- Search bar -->
  <div class="pha-search" *ngIf="showSearch">
    <i class="bx bx-search pha-search-icon"></i>
    <input
      type="text"
      class="pha-search-input"
      autocomplete="off"
      [placeholder]="searchPlaceholder"
      [(ngModel)]="searchValue"
      (input)="handleSearchInput($event)">
    <button
      *ngIf="searchValue"
      class="pha-search-clear"
      (click)="searchValue = ''; handleSearchInput({ target: { value: '' } })">
      <i class="bx bx-x"></i>
    </button>
  </div>

</div>