
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
@import '~dropzone/dist/min/dropzone.min.css';
@import "./variables.scss";
@import "./tailwind.scss";

.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

ngx-dropzone {
  border: 2px dashed var(--bs-border-color) !important;
}




//
// Dropzone
//

.dropzone {
  min-height: 230px !important;
  border: 2px dashed #eff2f7 !important;
  background: #fff !important;
  border-radius: 6px !important;
  text-align: center;

  .dz-message {
    width: 100%;
    margin: 1em 0;
  }
}

[data-dz-thumbnail] {
  width: 100%;
  height: 100%;
}

.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone .dz-preview .dz-image img {
  display: block;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone .dz-preview .dz-remove {
  margin-top: 10px;
}

dropzone>.dropzone.dz-wrapper .dz-message {
  background-color: transparent !important;
  border: none !important;
  overflow: inherit !important;
  width: inherit !important;
  min-width: inherit !important;
  min-height: 180px !important;
  max-width: inherit !important;
  max-height: inherit !important;
  margin: 0px !important;
}

.dz-text {
  font-size: 1.21875rem
}

dropzone>.dropzone.dz-wrapper {
  min-height: 76px !important;
  border: none !important;
}


#component-colorpicker {

  color-picker {
    .open {
      right: 0px !important;
      left: auto !important;
      z-index: 9999 !important;
    }
  }
}

.color-picker {
  .arrow.arrow-bottom {
    right: 20px !important;
    left: auto !important;
  }
}

.switch.switch-small>.switch-pane>span {
  font-size: 12px !important;
}

.modal-dialog {
  top: auto !important;
  bottom: auto !important;
}

.slick-dots {
  margin-top: 20px;
  bottom: -40px !important;


  li.slick-active button:before {
    color: #556ee6 !important;
    font-size: x-small !important;
  }
}

.slick-dots li button:before {
  color: #556ee6;
  font-size: x-small !important;
}

.slick-slide img {
  width: 100%;
}

.dropup {
  .dropdown-menu {
    inset: auto auto auto 0px !important;
    transform: translateY(-160px) !important;
  }
}

.ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background-color: #556ee6 !important;
}


.loader {
  display: block;margin-top: 10px;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }













.ng-select {
  //padding-bottom: 0 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix {
  display: flex !important;
}

.c-ng-select .ng-dropdown-panel.ng-select-bottom {
  top: calc(100% - -0.0em);
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.ng-dropdown-panel.ng-select-bottom {
  top: calc(100% - -0.0em);
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.mycssSnackbarRed .mat-mdc-snack-bar-container {
  font-size: 13px !important;
  color: #FFFFFF !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  background-color: $redColor !important;
}

.mat-mdc-snack-bar-label.mdc-snackbar__label {
  color: #FFFFFF !important;
  font-weight: 500;
  white-space: pre-wrap
}

.mycssSnackbarRed.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
      background: $redColor;

      .mat-mdc-button {
          color: #FFFFFF !important;
      }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
      color: #FFFFFF !important;
      font-weight: 500;
      white-space: pre-wrap
  }
}

.mycssSnackbarGreen .mat-mdc-snack-bar-container {
  font-size: 13px !important;
  color: #FFFFFF !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  background-color: #43a14c !important;
}

.mat-mdc-snack-bar-label.mdc-snackbar__label {
  color: #FFFFFF !important;
  font-weight: 500;
  white-space: pre-wrap
}

.mycssSnackbarGreen.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
      background: #43a14c;

      .mat-mdc-button {
          color: #FFFFFF !important;
      }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
      color: #FFFFFF !important;
      font-weight: 500;
      white-space: pre-wrap
  }
}

border-tt{
  border: 1px solid #f3903d !important;
}

.border-t {
  border: 1px solid #f1f5f9;
}


.fuse-mat-button-large {
  color: #FFFFFF !important;
}

.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
  background-color: #FFFFFF !important;
  color: #1a1616 !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
  color: black !important;
}

.tableAction {
  display: flex;
}

.submit-button {
  width: auto;
  height: auto;
  color: #FFFFFF !important;
  background: #40b54b 0% 0% no-repeat padding-box !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  &:hover {
      background: #3d86f3 !important;
     // border: 2px solid #fff !important;
      .textForms {
          color: #fff;
      }
  }
}

.submit-buttonRed {
  width: auto;
  height: auto;
  color: #FFFFFF !important;
  background-color: $redColor !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.textForm {
  text-align: center;
  font: normal normal normal 20px/13px Microsoft Sans Serif, sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 12px;
}

.submit-buttonAdd {
  width: 85px;
  height: 24px;
  text-align: center;
  font: normal normal normal 20px/13px Microsoft Sans Serif, sans-serif;
  letter-spacing: 0px;
  background-color: #FFFFFFFF !important;

  .icon-color {
      color: #1e293b !important;
  }
}
submit-button-grid {
  width: auto;
  height: auto;
  color: #FFFFFF !important;
  background: #40b54b 0% 0% no-repeat padding-box !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.iconAction {
  cursor: pointer;
  color: #16ba55;
}

.circle-loader {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-mdc-form-field.mat-mdc-form-field-appearance-fill.fuse-mat-no-subscript .mat-mdc-form-field-wrapper {
  max-width: 270px;
  color: black;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-mdc-form-field.mat-mdc-form-field-appearance-fill.fuse-mat-dense .mat-mdc-form-field-wrapper .mat-mdc-form-field-flex {
  min-width: 270px;
}

.mat-mdc-form-field.mat-mdc-form-field-appearance-fill.fuse-mat-no-subscript {
  background-color: #FFFFFF;
  border-radius: 7px;
}

.mat-mdc-dialog-container {
  padding: 0 0 25px !important;
}

.form mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formInf {
  width: 49%;
}

.formSearch mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

.formSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formInfSearch {
  width: 24%;
}

.event-form-search {
  padding: 10px;
}

.file-error {
  color: $redColor !important;
  font-size: 11px !important;
  margin-top: -18px;
}

.mt-0 {
  margin-top: 0.4rem !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-mdc-form-field.mat-mdc-form-field-appearance-fill .mat-mdc-form-field-wrapper {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-between;
}

.badge-success {
  background-color: rgb(46, 187, 46) !important;
  color: white !important;
  font-size: 12px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  text-align: center !important;
}
.badge-success1 {
  background-color:  rgb(107 152 109) !important;
  color: white !important;
  font-size: 12px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  text-align: center !important;
}
.badge-success2 {
  background-color: $greenColor !important;
  color: white !important;
  font-size: 12px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  text-align: center !important;
}
.custom_badge_brown{
  background-color: #754401 !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}
.badge-brown{
  background-color: #754401 !important;
  color: white !important;
  font-size: 12px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  text-align: center !important;
}

.badge-redd {
  background-color: red !important;
  color: white !important;
  font-size: 12px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  text-align: center !important;
}

.badge-red {
  background-color: red !important;
  color: white !important;
  font-size: 12px !important;
  border-radius: 5px !important;
  padding: 2px 10px !important;
  text-align: center !important;
}

.c-colorDetail {
  color: #1d82d9 !important;
}
.c-colorGreen {
  color: #078503 !important;
}

// .enteteTable {
//   color: #1976d2 !important;
//   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif !important;
//   font-size: 12px !important;
//   padding: 0 0 0 16px !important;
// }

.enteteTableReception {
  color: #1976d2 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  font-size: 13px !important;
}

.contentTable {
  color: #000000 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  font-size: 14px !important;
}

.titleRecap {
  font-weight: bold;
  font-size: 17px;
  font-family: auto, sans-serif;
}

.fuse-widget-front-filtre {
  background: #ffffff !important;
  margin: 10px;
  background-size: cover;
  border-radius: 8px !important;
  border: 1px solid !important;
  border-color: #00316c !important;
}

.fuse-widget-front-filtre-bis {
  background: #ffffff !important;
  margin: 10px;
  background-size: cover;
  border-radius: 8px !important;
  border: 1px solid !important;
  border-color: #00316c !important;
  margin-bottom: 50px;
}

.formInfFull {
  width: 100%;
}

.formInfMiddle {
  width: 49% !important;
}

.badge-success {
  background-color: #1C7325 !important;
  color: $white;
  font-size: 10px;
  border-radius: 12px;
  padding: 2px 10px;
  font-weight: 700;
}


.status-success {
  background-color: #5f9a65 !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}
.status-brown {
  background-color: #754401 !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}
.status-success2 {
  background-color: $greenColor !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}
.status-success1 {
  background-color: rgb(107 152 109) !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}.status-blue-clair {
  background-color: rgb(104 123 179) !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
   padding: 2px 10px !important;
  font-weight: 700;
}

.status-grey {
  background-color: gray !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}
.badge-grey {
  background-color: gray !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.status-passed {
  background-color: $passedColor !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.status-info {
  background-color: $infoColor !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.status-primary {
  background-color: $primaryColor !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.status-error {
  background-color: $redColor !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.status-error-2 {
  background-color: $redColor !important;
  color: $white;
  font-size: 11px;
  border-radius: 5px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.badge-red {
  background-color: $redColor !important;
  color: $white;
  font-size: 10px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.badge-blue {
  background-color: #263360 !important;
  color: $white;
  font-size: 10px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}.badge-gray {
  background-color: #525252 !important;
  color: $white;
  font-size: 10px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.badge-orange {
  background-color: orange !important;
  color: $white;
  font-size: 10px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.badge-warning {
  background-color: $warningColor !important;
  color: $white;
  font-size: 10px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.status-warning {
  background-color: $warningColor !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.status-accent {
  background-color: #1e293b !important;
  color: $white;
  font-size: 11px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}
.ng-select .ng-select-container.ng-appearance-outline {
  padding: 0 0.5em;
  min-height: 56px;
  input{
      padding-left: 10px !important;
  }
}
body.light .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label, body .light .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 27px;
  //display: flex;
}
.badge-primary {
  background-color: $primaryColor !important;
  color: $white;
  font-size: 10px;
  border-radius: 12px;
  padding: 2px 10px !important;
  font-weight: 700;
}

.field-detail {
  display: flex;

  mat-form-field {
      width: 100%;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
  mat-radio-group {
      width: 50%;
      padding: 20px 0;
      /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
      mat-radio-button {
          margin: 0 10px;
      }
  }

  ng-select {
      width: 50%;
      padding-bottom: 5px !important;
  }

  .addProprio {
      width: 100%;
      margin-left: 22px;
  }
}

.field-addBut {
  display: flex;

  mat-form-field {
      width: 100%;
  }

  button {
      width: 35%;
      position: relative;
      top: 10px;
  }
}

.field {
  display: flex;

  mat-form-field {
      width: 50%;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
  mat-radio-group {
      width: 50%;
      padding: 20px 0;
      /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
      mat-radio-button {
          margin: 0 10px;
      }
  }



  ng-select {
      width: 50%;
      padding-bottom: 5px !important;
  }

  .addProprio {
      width: 50%;
      margin-left: 22px;
  }
}

.formulaire {
  margin-top: 20px;
}

.field-error {
  color: $redColor;
  font-size: 11px;
  margin-top: -17px;
  margin-left: 5px;
}

.fieldAll {
  mat-form-field {
      width: 100%;
  }
}

.text-red {
  color: $redColor !important;
}

.mes-btn {
  margin: 20px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

// .submit-button {
//   width: 125px;
//   height: auto;
//   color: $white !important;
//   background: #00316c 0% 0% no-repeat padding-box !important;
//   padding-left: 35px !important;
//   padding-right: 35px !important;
// }

.submit-buttonRed {
  width: 125px;
  height: auto;
  color: $white !important;
  background-color: $redColor !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.submit-buttonPrimary {
  width: 125px;
  height: auto;
  color: $white !important;
  background-color: $primaryColor !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.c-tab-group {
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-tab-label-container {
      border: 1px solid #80808070;
      padding: 10px 24px !important;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-tab-body-wrapper {
      border: 1px solid #8080806b;
  }
}

.event-form-dialog {
  line-height: 30px;
  overflow-y: scroll;
}

.event-form-dialog {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.event-form-dialog::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.swal2-popup {
  width: 25em !important;
}

.swal2-icon {
  width: 3em !important;
  height: 3em !important;
  margin: 1em auto .6em !important;
}

.swal2-icon .swal2-icon-content {
  font-size: 2.75em !important;
}

.swal2-title {
  padding: 0em 1em 0 !important;
  font-size: 1.5em !important;
}

.swal2-styled.swal2-cancel {
  background-color: $redColor !important;
}

.telephone .mat-form-field-empty {
  padding-left: 50px;
  padding-top: 4px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.telephone .mat-form-field-label:not(.mat-form-field-empty) {
  padding-left: 50px !important;
}

//start scrollbar style
::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #01144fe6 !important;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2) !important;
}

//end scrollbar style
.c-colorHeader {
  background: #004d72 !important;
}

.mat-mdc-tooltip {
  font-weight: 600 !important;
  font-size: 13px !important;
  background: #767676 !important;
}

.mat-mdc-menu-panel {
  min-width: 80px !important;
}

.c-bien {
  font-size: 35px;
  // width: max-content;
  text-align: center;
}

.global {
  background: #f3903d;
  padding: 0px 20px 0px 10px;
  border-radius: 25px;
  font-size: 28px;
}

.sunu {
  background: #f3903d;
  padding: 0px 10px 0 18px;
  //clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  margin-left: -10px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.c-conn {
  color: var(--ColorDefault) !important;
  text-align: center;
}

.widthRight {
  width: 75% !important;
}

// new
.c-posiDataSource {
  margin: 0 25px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin-top: -37px;
  border-radius: 8px !important;
}
.c-posiBalance {
  margin: 0 25px;
  margin-top: -37px;
  border-radius: 8px !important;
}
.c-posiDataSourceF {
  margin: 0 58px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin-top: -37px;
  border-radius: 8px !important;
}

.backToolbar {
  background: #00316c !important;

}

.c_formulaire {
  border: 30px solid #00316c;

}

.c_title {
  color: var(--ColorDefault) !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

.closeButton {
  background: #f3433d !important;

  mat-icon {
      color: #0833e2 !important;
  }
}

.c_logoHome {
  width: 80% !important;
}

.c_logoHomeMarge {
  margin-top: -5px;
}

.c_cursor {
  cursor: pointer;
}

.c_icon {
  width: 85%;
}

//start swal
.swal2-popup {
  width: 25em !important;
}

.swal2-icon {
  width: 3em !important;
  height: 3em !important;
  margin: 1em auto .6em !important;
}

.swal2-icon .swal2-icon-content {
  font-size: 2.75em !important;
}

.swal2-title {
  padding: 0em 1em 0 !important;
  font-size: 1.5em !important;
}

.swal2-styled.swal2-cancel {
  background-color: $redColor !important;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 25em !important;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 15px !important;
  background: #fff;
  color: #545454;
  font-family: inherit, sans-serif;
  font-size: 1rem;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #01144fe6 !important;
  color: #fff;
  font-size: 1em;
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #ff0000c4 !important;
  color: #fff;
  font-size: 1em;
}

.swal2-icon.swal2-warning {
  border-color: #002e5b !important;
  color: #002e5b !important;
}

.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0.8em 1em 0;
  color: #000000 !important;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: #002e5b !important;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em !important;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit, sans-serif;
  font-size: 12px !important;
}

.swal2-actions {
  flex-direction: row-reverse;
}

.swal2-icon.swal2-info {
  border-color: #999999 !important;
  color: #999999 !important;
}

.swal2-html-container {
  color: #000000 !important;
}

//end swal
.c_btnAccount {
  background: #dce2e9c7 !important;
  margin-top: 14px;
}
.c_btnAccountF {
  background: #00ff40	 !important;
  &:hover {
      background: #255c02 !important;
      .c_icons {
          color: #FFFFFF !important;
      }
  }
}
.c_btnAccountG {
  background: #dce2e9c7 !important;
  .c_icons {
      color: #FFFFFF !important;
  }
  &:hover {
      background: rgba(220, 226, 233, 0.34) !important;
      .c_icons {
          color: #00ff40	 !important;
      }
  }
}
.c_btnAccountR {
  background: #dce2e9c7 !important;
  .c_icons {
      color: red !important;
  }
  &:hover {
      background: rgba(220, 226, 233, 0.34) !important;
      .c_icons {
          color: red !important;
      }
  }
}
.c_icons{
  color: #FFFFFF;
}
.c_btnAccount_attribut {
  margin-top: 10px;
}

.background_avatarS {
  background: var(--ColorDefault) !important;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px !important;
  font-weight: bold;
}

.background_avatar {
  background: var(--ColorDefault) !important;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 25px !important;
  font-weight: bold;
}

.background_avatarNoImage {
  background: #ffffff !important;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 25px !important;
  font-weight: bold;
}

//start color style dynamic
.colorTextDefault {
  color: var(--ColorDefault) !important;
}

.colorBackDefault {
  background-color: var(--ColorDefault) !important;
}

.colorTextPrimary {
  color: var(--ColorPrimary);
}

.colorBackPrimary {
  background-color: var(--ColorPrimary) !important;
}

.colorTextSecondary {
  color: var(--ColorSecondary) !important;
}

.colorBackSecondary {
  background-color: var(--ColorSecondary) !important;
}

//end color style dynamic
.c-backBtn {
  background: var(--ColorDefault) !important;
}

.c-logo {
  width: 12rem !important;
  margin: 0 auto;
}

.c-imageLogin {
 // background-image: url("../assets/images/imageSignin.jpg");
  background-size: cover;
  background-position: 70% 0 !important;
}

fuse-vertical-navigation.fuse-vertical-navigation-appearance-compact .fuse-vertical-navigation-aside-wrapper {
  background: #1a2b60 !important;
  border-left-width: thin;
}

.submit-button-green {
  border-radius: 20px !important;
  background: var(--ColorDefault) !important;
  color: #fff !important;
  border: 2px solid var(--ColorDefault) !important;
  &:hover {
      background: #3daaf3 !important;
      border: 2px solid #fff !important;
      .textForms {
          color: #fff;
      }
      }
}

.submit-button-renvoi {
  border-radius: 20px !important;
  background: #FFFFFF !important;
  color: #f3903d !important;
  border: 2px solid var(--ColorDefault) !important;
  &:hover {
      background: #3d8ff3 !important;
      border: 2px solid #fff !important;
      .textForms-renvoi {
          color: #fff !important;
      }
  }
}
.textForms-renvoi {
  height: 14px;
  text-align: center;
  font: normal normal normal 17px/13px Microsoft Sans Serif, sans-serif;
  letter-spacing: 0px;
  color: var(--ColorDefault) !important;
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px !important;
}

.submit-button-red {
  border-radius: 20px !important;
  background: #E61A1A !important;
  color: #E61A1A !important;
  border: 2px solid !important;
}

.textForms {
  height: 14px;
  text-align: center;
  font: normal normal normal 17px/13px Microsoft Sans Serif, sans-serif;
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.textFormRed {
  height: 14px;
  text-align: center;
  font: normal normal normal 17px/13px Microsoft Sans Serif, sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
}

// start custom tabs
// end custom tabs
fuse-vertical-navigation-aside-item .fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item .fuse-vertical-navigation-item-icon {
  opacity: 1 !important;
  color: #FFFFFF !important;
}

fuse-vertical-navigation-aside-item .fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item .fuse-vertical-navigation-item-title-wrapper .fuse-vertical-navigation-item-title {
  opacity: 1 !important;
  color: #FFFFFF !important;
}

fuse-vertical-navigation.fuse-vertical-navigation-appearance-compact .fuse-vertical-navigation-wrapper .fuse-vertical-navigation-content > fuse-vertical-navigation-aside-item .fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item .fuse-vertical-navigation-item-title-wrapper .fuse-vertical-navigation-item-title {
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

.c_mat_drawer {
  border-radius: 12px !important;
  margin: {
      left: 16px;
      top: 16px;
  };
  height: 733px;
}

#c_mat_drawerId {
  height: 733px;
}

.c_color_active {
  color: #00316c !important;
}

.c_padding {
  padding-left: 32px !important;
  padding-right: 20px !important;
}

.c_padding_v2 {
  padding-left: 10px !important;
  padding-right: 0 !important;
}

hr {
  margin: 10px 0 !important;
}


#heighContentRightId {
 // height: 878px;
}

.custom_ajouter {
  background: #00316c !important;
}

.floatRight {
  height: 26px;
  position: absolute;
  right: 18px;
}

tr.mat-mdc-header-row {
  height: 37px !important;
}

body.light .mat-mdc-header-cell,
body .light .mat-header-cell {
  color: white !important;
  background: #01144fe6 !important;;
}

.titleFuseCard {
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: #00316c !important;
}

.c-billetage {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.buttonBilletage {
  width: auto;
  height: auto;
  color: #FFFFFF !important;
  background-color: $redColor !important;
}

.c-posiDataSourceTr {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px !important;
}

.agencS {
  display: flex;
  justify-content: space-between;
}

.agenCs {
  display: flex;
  align-items: center;
}

.cLabel {
  margin: 20px;
  font-size: 14px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: #00316c !important;
}

.cust_label {
  margin: {
      top: 18px;
      right: 10px;
  }
  font-size: 14px !important;
  font-weight: bold !important;
  color: #00316c !important;
}

.cust_labels {
  margin: {
      right: 10px;
  }
  font-size: 12px !important;

}


.menuAgence {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field .mat-mdc-form-field-infix {
      height: 46px;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix {
      padding: 3px;
  }
}

.p-55 {
  padding: 3.25rem !important;
}

.c_titles {
  text-transform: uppercase;
}

.csAg {
  line-height: 2;
  font-size: 13px;

  .nameAgence {
  }

  .valueAgence {
      font-weight: bold;
  }
}

.taiilePanel {
  min-height: 500px !important;
}
.textFormP {
  color: #000000;
}

.c-border-1 {
  border: 2px solid #00316c !important;
}

.c-border-2 {
  border: 2px solid #00316c !important;
}

.c-border-3 {
  border: 1px solid #00316c !important;
}

.c-border-4 {
  border: 1px solid #00316c !important;
}

.c-colornbre-1 {
  color: #00316c !important;
}

.c-colornbre-2 {
  color: #00316c !important;
}

.c-colornbre-3 {
  color: #00316c !important;
}

.c-colornbre-4 {
  color: #00316c !important;
}

.bg-card-1 {
  background: #00316c;
}

.bg-card-2 {
  background: #00316c;
}

.bg-card-3 {
  background: #00316c;
}

.bg-card-4 {
  background: #00316c;
}

.matdrawer {
  border-radius: 9px !important;
  height: 570px !important;
}

.textAgen {
  margin-top: 5px;
  font-weight: bold;
  color: #1a2b60;
  font-size: 15px;
  text-transform: uppercase;
}

.taiilePanel {
  min-height: 500px !important;
}

.buttonTer {
  border-radius: 5px;
  background: #ffffff !important;
  border: 1px solid #f3903d !important;
}

.textFormP {
  color: #000000;
}

.c-borders-1 {
  border: 2px solid #00316c !important;
}

.c-borders-2 {
  border: 2px solid #00316c !important;
}

.c-borders-3 {
  border: 1px solid #00316c !important;
}

.c-borders-4 {
  border: 1px solid #00316c !important;
}

.c-colornbres-1 {
  color: #00316c !important;
}

.c-colornbres-2 {
  color: #00316c !important;
}

.c-colornbres-3 {
  color: #00316c !important;
}

.c-colornbres-4 {
  color: #00316c !important;
}

.bg-card-1 {
  background: #00316c;
}

.bg-card-2 {
  background: #00316c;
}

.bg-card-3 {
  background: #00316c;
}

.bg-card-4 {
  background: #00316c;
}

.matdrawer {
  border-radius: 9px !important;
  height: 570px !important;
}

.textAgen {
  margin-top: 5px;
  font-weight: bold;
  color: #1a2b60;
  font-size: 15px;
  text-transform: uppercase;
}

body.light .mat-expansion-panel-header.mat-expanded,
body .light .mat-expansion-panel-header.mat-expanded {
  height: 25px !important;
}

.c_titreH {
  color: #00316c !important;
  font-size: 16px !important;
}

.c_back_header {
  height: 35px !important;
}

.c_backToolbar {
  background-color: #00316c !important;
}

.tableP {
  table-layout: fixed;
  width: 100% !important;
  background-color: #ffff;
}

#tablePartenaire th,
#tablePartenaire td {
  padding: 6px !important;
}

.table-primP {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 2px !important;
  color: #000000 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  font-size: 15px !important;
  text-align: right !important;
  overflow-x: hidden;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
}

.example-input {
  border: 1px solid !important;
  border-color: #00316c !important;
  border-radius: 5px !important;
  background-color: #f3f5f7 !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
  font-size: 15px !important;
  color: #1a1616 !important;
  text-align: center !important;
  width: 50%;
  height: 25px;
}

#tablePartenaire table,
#tablePartenaire thead tr th {
  text-align: center !important;
}

.example-width {
  font-size: 17px;
  border: 1px solid;
  text-align: center;
}

.example-widths {
  display: flex;
  font-size: 17px;
  border: 1px solid;
}

#tabFontGarantie table,
#tabFontGarantie th {
  background-color: #009036;
  border: 1px solid #009036;
  font-weight: normal;
  text-align: center;
  color: white;
}

#tabFontGarantie table {
  border-collapse: collapse;
  margin: auto;
}

#tabFontGarantie table,
#tabFontGarantie th,
#tabFontGarantie td {
  border: 1px solid #009036;
  height: 30px;
}

.entete {
  background: #00316c;
  color: white;
}

.tetePage {
  margin: 20px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.csd {
  text-align: center !important;
  //padding: 10px;
}

.titleProduit {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
  color: #00316c !important;
  font-size: 18px !important;
  margin-bottom: 30px !important;
  font-weight: bold;
  text-align: center;
}

.fraisTitle {
  margin-bottom: 20px;
  font-weight: bold;
  color: #00316c;
  font-size: 14px;
}

.c-flex {
  display: flex;
  justify-content: space-between;
}

body.light .mat-mdc-tab-group.mat-primary .mat-ink-bar,
body.light .mat-mdc-tab-nav-bar.mat-primary .mat-ink-bar,
body .light .mat-tab-group.mat-primary .mat-ink-bar,
body .light .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #00316c;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.fuse-mat-rounded .mat-mdc-tab-group .mat-tab-body-content {
  padding: 0px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.fuse-mat-rounded .mat-mdc-tab-group .mat-mdc-tab-header .mat-tab-label-container {
  padding: 0 !important;
}

.c_title_header {
  font-size: 16px !important;
  color: #015e18 !important;
  font-weight: bold !important;
}

.trs {
  width: 50% !important;
}

.formInfMiddle {
  width: 50%;
  border-radius: 5px;
}

.contenuClient {
  margin-top: 3px;
  background: #f3f5f766;
  padding: 10px;
  border-radius: 10px;
}

.bgck {
  background: #FFFFFF;
}

.contenuClients {
  margin-top: 3px;
  background: #f3f5f766;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #979b9e66;
}

.bgcks {
  background: #f3f5f766;
  border: 1px solid #979b9e66 !important;
}

.titlePro {
  font-weight: bold;
  margin: 10px;
  background: #00316c;
  color: white;
  display: inline-block;
  padding: 5px 40px 5px 40px;
  border-radius: 10px;
}

.data {
  display: flex;

  .name {
      font-size: 14px;
  }

  .value {
      font-size: 14px;
      font-weight: bold;
  }

  .circle-loader {
      margin: auto;
      margin-top: 13px;
  }

  .trss {
      width: 49% !important;
  }
}

.bgAgence {
  background: #1a2b60 !important;

  mat-icon {
      color: #FFFFFF !important;
  }
}

.bgAdd {
  mat-icon {
      color: #1a2b60 !important;
  }
}

.bgBureauOuvert {
  background: #cd3434 !important;
}

.bgBureauFermer {
  background: #40b54b !important;
}

.menuAgence {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-flex {
      width: 230px !important;
  }
}

.typeTitle {
  text-transform: capitalize !important;
}

.agenceAffect {
  font-size: 16px;
  color: red;
  text-align: center;
  padding: 50px;
  font-weight: bold;
}

.custom_recherche {
  margin: {
      top: -37px;
      bottom: 60px;
      left: 25px;
      right: 25px;
  };
}

.situ {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
  font-size: 14px !important;
  text-align: center;
}

.textVideMessage {
  color: red;
}

.typeCredit {
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      line-height: 2em !important;
  }

  hr {
      margin: 0 !important;
      border-bottom-width: 0 !important;
  }
}

.text_vide {
  color: black;
}

.custom_badge_success {
  background-color: rgb(46, 187, 46) !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}
.custom_badge_success1 {
  background-color:  rgb(107 152 109) !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}
.custom_badge_success2 {
  background-color:  #1C7325 !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}

.custom_badge_red {
  background-color: #ff0000c4 !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}

.custom_badge_grey {
  background-color: rgba(203, 203, 203, 0.77) !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}

.custom_badge_black {
  background-color: rgba(0, 0, 0, 0.77) !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}
.custom_blue_clair {
  background-color: rgb(104 123 179) !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}

.custom_badge_blue {
  background-color: #263360 !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}.custom_badge_grey {
  background-color: #565555 !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
   padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}

.custom_badge_orange {
  background-color: orange !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 12px !important;
  padding: 2px 10px !important;
  font-weight: 700;
  text-align: center;
}

.butSearchs {
  display: block;
  background: #f0f4f499 !important;
  margin-right: 10px !important;
}

.c_colorIcom {
  color: #43a14c;
}

.rec {
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
}

.butSearchs {
  display: block;
  background: #f0f4f499 !important;
  margin-right: 10px !important;
}

.p-t {
  display: flex !important;
  align-items: center !important;
  min-height: 50px;
}

.c_label {
  font-size: 16px;
  font-weight: bold;
}

.cssMessage {
  color: white !important;
  height: 20px;
  padding: 2px 10px !important;
  padding-right: 40px;
  font-size: 12px !important;
}

.c-ng-selectF {
  display: contents !important;
}

.c-ng-select {
  position: relative !important;
  top: -7px !important;
}

.custom-loader {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #766DF4) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg), radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
.titleReca{
  font-size: 14px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
.tiReca{
  font-size: 14px;
  font-weight: bold;
  color: #1a1616;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
.tReca{
  font-size: 13px;
  color: #1a1616;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
.infod {
  margin: 20px 4px;
  border: 1px solid #011340;
  border-radius: 15px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.typeC {
  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle{
      border-color: rgb(1 21 84) !important;
  }
}














.colorTitle
{
  color: rgba(0, 0, 255, 0.516);
}


.mat-mdc-table {
  table-layout: auto;
  white-space: normal;
 //background-color: #656664 !important;
  border-radius: 25px;
  box-shadow:  25px 25px 25px 25px #e9e8e8;
}

.mat-mdc-table tr:hover
{
  background-color: transparent !important;;
}
.mat-mdc-table  th {
  color: #011340;
  font-weight: 600;
}


.mat-mdc-table  td {
  color: black;
  font-weight: 500;
}







///style by mamadou
.couleurPrimary {
  color: #134b86;
}

.bgPrimaire{
  background-color: #011340;
  color: white !important;;
}

.bgPrimaire:hover{
  background-color: #00316c;
}


.event-form-dialog .mat-dialog-container {
  max-height: 80vh; /* Hauteur maximale de 80% de l'écran */
  overflow-y: auto; /* Active le défilement vertical si le contenu dépasse */
}


.modalIndex{
  z-index: 1002;
}
