<mat-toolbar class="mat-accent m-0 backToolbar">
  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
    <span class="c_title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Image Section -->
<div class="row">
  <div class="col-lg-12 text-center mb-4">
    <div class="position-relative d-inline-block">
      <div class="position-absolute bottom-0 end-0">
        <label for="document-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
          title="Select Document Image">
          <div class="avatar-xs">
            <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
              <i class="bx bxs-image-alt"></i>
            </div>
          </div>
        </label>
        <!-- <input class="form-control d-none" id="document-image-input" type="file" accept="*" (change)="selectOnFile($event, '', 'Thumbnail')"> -->
        <input class="form-control d-none" value="" id="document-image-input" type="file"
          accept="image/png, image/PNG, image/jpg, image/JPG, image/jpeg, image/JPEG, .pdf , .PDF , .doc , .DOC , .docx , .DOCX , .docm , .DOCM"
          (change)="selectOnFile($event)">

        <!-- Bouton pour supprimer l'image -->
        <div *ngIf="uploadedImage">
          <button type="button" class="btn btn-danger btn-sm mt-1" id="delete-image-btn" (click)="deleteImage()">
            <i class="bx bx-trash me-1"></i>
          </button>
        </div>
      </div>

      <div class="avatar-lg">
        <div class="avatar-title bg-light rounded-circle">
          <img [src]="imageToff ? imageToff : 'assets/images/users/user-dummy-img.jpg'"
            class="avatar-md rounded-circle h-auto" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form Fields Section -->
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
  <form [formGroup]="initForm" class="event-form w-100-p">
    <div class="flex gap-2">
      <mat-form-field class="w-full mt-2" appearance="outline">
        <mat-label class="enteteccColor">Libellés</mat-label>
        <input class="typeTitle" matInput type="text" name="libelle" formControlName="libelle" />
        <mat-icon matSuffix class="secondary-text">code</mat-icon>
        <mat-error>Le champs est obligatoire</mat-error>
      </mat-form-field>
    </div>

    <div class="gap-2 hidden">
      <mat-form-field class="w-full mt-2" appearance="outline">
        <mat-label class="enteteccColor">URL du Document</mat-label>
        <input class="typeTitle" matInput type="url" name="urlDocument" formControlName="urlDocument" />
        <mat-icon matSuffix class="secondary-text">link</mat-icon>
        <mat-error>Le champs est obligatoire</mat-error>
      </mat-form-field>
    </div>


    <div class="flex gap-2">
      <mat-form-field class="w-full mt-2" appearance="outline">
        <mat-label class="enteteccColor">Date de la rencontre</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choisir une date" />
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error>Le champ est obligatoire</mat-error>
      </mat-form-field>
    </div>

    <div class="flex justify-center gap-4">
      <button mat-raised-button class="submit-buttonRed" type="button">
        <span class="textForm">Retour</span>
      </button>&nbsp;
      <button [disabled]="loader" mat-raised-button class="submit-button" (click)="checkRecap(action)">
        <span class="textForm">{{ labelButton }}</span>
      </button>
    </div>
  </form>
  <app-loader-data *ngIf="loader"></app-loader-data>
</div>
