<mat-toolbar class="mat-accent m-0 backToolbar">
  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
    <span class="">Ajouter une entente de compensation</span>
    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>













<mat-stepper #stepper>
  <form [formGroup]="initForm" class="event-form w-100-p">

    <mat-step label="Informations personnelles">
      <div class="flex gap-2">
        <mat-form-field class="w-1/2 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Code Pap
          </mat-label>
          <input matInput type="text" name="codePap" formControlName="codePap" />
          <mat-error>Le champs est obligatoire</mat-error>
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-1/2 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Catégorie du PAP</mat-label>
          <mat-select formControlName="categoriePap">
            <mat-option [value]="'agricole'">Exploitant/Agricole</mat-option>
            <mat-option [value]="'placeAffaire'">PlaceAffaire/Economique</mat-option>
          </mat-select>
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
          <mat-error>Le champ est obligatoire</mat-error>
        </mat-form-field>

      </div>
      <div class="d-flex justify-center">
        <button mat-raised-button class="submit-button" aria-label="VALIDER" type="button" (click)="fetchPap()">
          <span class="textForm">Rechercher le pap</span>
        </button>
      </div>

      <div class="flex gap-2">
        <mat-form-field class="w-1/2 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Prénom
          </mat-label>
          <input matInput type="text" name="prenom" formControlName="prenom" />
          <mat-error>Le champs est obligatoire</mat-error>
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
        </mat-form-field>

        <mat-form-field class=" w-1/2 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Nom
          </mat-label>
          <input matInput type="text" name="nom" formControlName="nom" />
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
          <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>
      </div>

      <div class="flex gap-2">
        <mat-form-field class=" w-full mt-2" fxFlex="50" appearance="outline">
          <mat-label disabled value="" selected class="enteteccColor">Nature de la pièce</mat-label>

          <input matInput type="text" name="typePni" formControlName="typePni" />
          <mat-icon matSuffix class="enteteccColor">storage</mat-icon>
          <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field class=" w-1/2 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Numéro de pièce
          </mat-label>
          <input matInput type="text" name="numeroPni" formControlName="numeroPni" />
          <mat-icon matSuffix class="secondary-text">dialpad</mat-icon>
          <mat-error *ngIf="initForm.get('numeroPni')?.touched && initForm.get('numeroPni')?.errors?.required">ce
            champs est requis</mat-error>
        </mat-form-field>
      </div>

      <div class="flex gap-2">
        <mat-form-field class="w-1/2 mt-2" fxFlex="50" appearance="outline">
          <mat-label class="enteteccColor">Nationnalité</mat-label>
          <input class="enteteccColor" matInput type="text" formControlName="nationalite" />
          <mat-error>Le champs est oligatoire</mat-error>
        </mat-form-field>

        <mat-form-field class=" w-1/2 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Sexe
          </mat-label>
          <input matInput type="text" name="sexe" formControlName="sexe" />
          <mat-icon matSuffix class="secondary-text">place</mat-icon>
          <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>
      </div>
      <div class="flex gap-2">
        <mat-form-field class=" w-full mt-2" fxFlex="50" appearance="outline">
          <mat-label disabled value="" selected class="enteteccColor">Département</mat-label>
          <input matInput type="text" name="departement" formControlName="departement" />
          <mat-icon matSuffix class="enteteccColor">storage</mat-icon>
          <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field class=" w-1/2 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Commune
          </mat-label>
          <input matInput type="text" name="commune" formControlName="commune" />
          <mat-icon matSuffix class="secondary-text">dialpad</mat-icon>
          <mat-error *ngIf="initForm.get('commune')?.touched && initForm.get('commune')?.errors?.required">ce
            champs est requis</mat-error>
        </mat-form-field>
      </div>
      <div class="flex justify-center gap-4">
        <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
          <span class="textForm">Retour</span>
        </button>&nbsp;
        <button matStepperNext mat-raised-button class="submit-button">
          <span class="textForm">Suivant</span>
        </button>
      </div>
    </mat-step>
    <mat-step label="Frais/équipements">
      <div>
        <div class="inner-repeater mb-2">
          <div class="inner mb-0 row">
            <div class="flex gap-2">
              <mat-form-field class="w-1/2 mt-2" fxFlex="50" appearance="outline">
                <mat-label class="enteteccColor">Frais de déplacement </mat-label>
                <input class="enteteccColor" matInput type="number" formControlName="fraisDeplacement" />
                <mat-error>Le champs est oligatoire</mat-error>
              </mat-form-field>
              <mat-form-field class=" w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Appuie à la relocalisation
                </mat-label>
                <input matInput type="number" name="appuiRelocalisation" formControlName="appuiRelocalisation" />
                <mat-icon matSuffix class="secondary-text">place</mat-icon>
                <mat-error>Le champs est obligatoire</mat-error>
              </mat-form-field>
            </div>
            <div class="flex gap-2">
              <mat-form-field class="w-full mt-2" appearance="outline">
                <mat-label class="enteteccColor">Frais Total déplacement
                </mat-label>
                <input matInput type="text" name="fraisTotalDeplacement" formControlName="fraisTotalDeplacement" />
                <mat-error>Le champs est obligatoire</mat-error>
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
              </mat-form-field>
            </div>
            <!-- <div>
              <label for="">Pertes d’équipements</label>
            </div>
            <div class="flex gap-2">
              <mat-form-field class="w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Nombre d'équipements
                </mat-label>
                <input matInput type="text" name="nbArbreEquipement" formControlName="nbArbreEquipement" />
                <mat-error>Le champs est obligatoire</mat-error>
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
              </mat-form-field>
              <mat-form-field class=" w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Prix d'équipement
                </mat-label>
                <input matInput type="number" name="prixArbreEquipement" formControlName="prixArbreEquipement" />
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
                <mat-error>Le champs est obligatoire</mat-error>
              </mat-form-field>
            </div>

            <div class="flex gap-2">
              <mat-form-field class="w-full mt-2" appearance="outline">
                <mat-label class="enteteccColor">Perte totale des equipements
                </mat-label>
                <input matInput type="text" name="perteEquipement" formControlName="perteEquipement" />
                <mat-error>Le champs est obligatoire</mat-error>
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
              </mat-form-field>
            </div> -->
            <div>
              <label for="">Pertes de revenues</label>
            </div>
            <form [formGroup]="perteRevenueForm">
              <div formArrayName="pertes">
                <div *ngFor="let perte of pertes.controls; let i = index" [formGroupName]="i"
                  class="flex gap-2 items-center mb-2">

                  <mat-form-field class="w-1/2 mt-2" appearance="outline">
                    <mat-label class="enteteccColor">Catégorie</mat-label>
                    <input matInput type="text" formControlName="categorieRevenue" />
                    <mat-error *ngIf="perte.get('categorieRevenue')?.invalid">Le champ est obligatoire</mat-error>
                    <mat-icon matSuffix class="secondary-text">category</mat-icon>
                  </mat-form-field>

                  <mat-form-field class="w-1/2 mt-2" appearance="outline">
                    <mat-label class="enteteccColor">Perte totale des revenus</mat-label>
                    <input matInput type="text" formControlName="perteRevenue" />
                    <mat-error *ngIf="perte.get('perteRevenue')?.invalid">Valeur invalide</mat-error>
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                  </mat-form-field>

                  <button mat-icon-button color="warn" (click)="supprimerPerte(i)" *ngIf="pertes.length > 1">
                    <mat-icon>delete</mat-icon>
                  </button>

                </div>
              </div>

              <!-- Affichage du total -->
              <div class="flex justify-between items-center border-t mt-4 pt-2">
                <h3 class="text-lg font-bold">Total des pertes :</h3>
                <h3 class="text-lg font-bold text-red-600">{{ getTotalReevenusGeneral() }} FCFA</h3>
              </div>

              <!-- Bouton désactivé si la dernière ligne est invalide -->
              <button mat-raised-button color="primary" class="mt-2" (click)="ajouterPerte()"
                [disabled]="pertes.length > 0 && !pertes.at(pertes.length - 1).valid">
                Ajouter une perte de revenu
              </button>
            </form>


          </div>
        </div>
      </div>


      <!--papAgricole-->





      <!--FinpapAgricole-->

      <div class="flex justify-center gap-4">
        <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
          <span class="textForm">Retour</span>
        </button>&nbsp;
        <button matStepperNext mat-raised-button class="submit-button">
          <span class="textForm">Suivant</span>
        </button>
      </div>
    </mat-step>

    <mat-step label="Pertes de terres">


      <div>
        <div class="inner-repeater mb-2">
          <div class="inner mb-0 row">
            <div>
              <label for="">Pertes de terres</label>
            </div>
            <div class="flex gap-2">
              <mat-form-field class="w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Superificie affecteé
                </mat-label>
                <input matInput type="number" name="superficieAffecte" formControlName="superficieAffecte" />
                <mat-error>Le champs est obligatoire</mat-error>
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
              </mat-form-field>
              <mat-form-field class=" w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Bareme au mettre carré
                </mat-label>
                <input matInput type="number" name="baremeTypeSol" formControlName="baremeTypeSol" />
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
                <mat-error>Le champs est obligatoire</mat-error>
              </mat-form-field>
            </div>

            <div class="flex gap-2">
              <mat-form-field class="w-full mt-2" appearance="outline">
                <mat-label class="enteteccColor">Perte totale des terres
                </mat-label>
                <input matInput type="text" name="perteTotalTerre" formControlName="perteTotalTerre" />
                <mat-error>Le champs est obligatoire</mat-error>
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
              </mat-form-field>
            </div>
            <!-- <div class="section-equipement" style="background-color: red;">


              <div>
                <label for="">Pertes d’équipements</label>
              </div>
              <div class="flex gap-2">
                <mat-form-field class="w-1/2 mt-2" appearance="outline">
                  <mat-label class="enteteccColor">Nombre d'équipements
                  </mat-label>
                  <input matInput type="text" name="nbArbreEquipement" formControlName="nbArbreEquipement" />
                  <mat-error>Le champs est obligatoire</mat-error>
                  <mat-icon matSuffix class="secondary-text">code</mat-icon>
                </mat-form-field>
                <mat-form-field class=" w-1/2 mt-2" appearance="outline">
                  <mat-label class="enteteccColor">Prix d'équipement
                  </mat-label>
                  <input matInput type="number" name="prixArbreEquipement" formControlName="prixArbreEquipement" />
                  <mat-icon matSuffix class="secondary-text">code</mat-icon>
                  <mat-error>Le champs est obligatoire</mat-error>
                </mat-form-field>
              </div>

              <div class="flex gap-2">
                <mat-form-field class="w-full mt-2" appearance="outline">
                  <mat-label class="enteteccColor">Perte totale des equipements
                  </mat-label>
                  <input matInput type="text" name="perteEquipement" formControlName="perteEquipement" />
                  <mat-error>Le champs est obligatoire</mat-error>
                  <mat-icon matSuffix class="secondary-text">code</mat-icon>
                </mat-form-field>
              </div>
            </div> -->

            <div class="section-equipement p-4 rounded-lg border">
              <h3 class="text-lg font-bold mb-2">Pertes d’équipements</h3>

              <form [formGroup]="equipementForm">
                <div formArrayName="equipements">
                  <div *ngFor="let equipement of equipements.controls; let i = index" [formGroupName]="i"
                    class="flex gap-2 items-center mb-2">

                    <mat-form-field class="w-1/3" appearance="outline">
                      <mat-label>Libellé</mat-label>
                      <input matInput type="text" formControlName="libelle" />
                      <mat-error>Obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-1/4" appearance="outline">
                      <mat-label>Nombre</mat-label>
                      <input matInput type="number" formControlName="nombre" />
                      <mat-error>Valeur invalide</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-1/4" appearance="outline">
                      <mat-label>Prix</mat-label>
                      <input matInput type="number" formControlName="prix" />
                      <mat-error>Valeur invalide</mat-error>
                    </mat-form-field>

                    <span class="w-1/4 text-center font-bold">{{ calculerTotalEquipement(equipement) }} FCFA</span>

                    <button mat-icon-button color="warn" (click)="supprimerEquipement(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="flex justify-between items-center border-t mt-4 pt-2">
                  <h3 class="text-lg font-bold">Total des pertes :</h3>
                  <h3 class="text-lg font-bold text-red-600">{{ getTotalGeneralEquipement() }} FCFA</h3>
                </div>
                <button mat-raised-button color="primary" class="mt-2" (click)="ajouterEquipement()">
                  Ajouter un équipement
                </button>
              </form>
            </div>

          </div>
        </div>
      </div>

      <div class="flex justify-center gap-4">
        <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
          <span class="textForm">Retour</span>
        </button>&nbsp;
        <button matStepperNext mat-raised-button class="submit-button">
          <span class="textForm">Suivant</span>
        </button>
      </div>

    </mat-step>


    <mat-step label="Pertes de recoltes">
      <!-- <div>
        <label for="">Pertes de recoltes</label>
      </div>
      <div class="flex gap-2">
        <mat-form-field class="w-1/3 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Rendement spéculation
          </mat-label>
          <input matInput type="text" name="rendement" formControlName="rendement" />
          <mat-error>Le champs est obligatoire</mat-error>
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
        </mat-form-field>
        <mat-form-field class=" w-1/3 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Superficie Cultivée
          </mat-label>
          <input matInput type="number" name="superficieCultive" formControlName="superficieCultive" />
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
          <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field class=" w-1/3 mt-2" appearance="outline">
          <mat-label class="enteteccColor">Prix au mettre carré
          </mat-label>
          <input matInput type="number" name="prixMettreCarre" formControlName="prixMettreCarre" />
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
          <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>
      </div>

      <div class="flex gap-2">
        <mat-form-field class="w-full mt-2" appearance="outline">
          <mat-label class="enteteccColor">Perte totale des recoltes
          </mat-label>
          <input matInput type="text" name="perteRecolte" formControlName="perteRecolte" />
          <mat-error>Le champs est obligatoire</mat-error>
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
        </mat-form-field>
      </div> -->

      <div class="section-recolte p-4 rounded-lg border">
        <h3 class="text-lg font-bold mb-2">Pertes de récoltes</h3>

        <form [formGroup]="recolteForm">
          <div formArrayName="recoltes">
            <div *ngFor="let recolte of recoltes.controls; let i = index" [formGroupName]="i"
              class="flex gap-2 items-center mb-2">

              <mat-form-field class="w-1/3" appearance="outline">
                <mat-label>Produit récolté</mat-label>
                <input matInput type="text" formControlName="produit" />
                <mat-error>Obligatoire</mat-error>
              </mat-form-field>

              <mat-form-field class="w-1/4" appearance="outline">
                <mat-label>Rendement moyen (m²)</mat-label>
                <input matInput type="number" formControlName="rendement" />
                <mat-error>Valeur invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="w-1/4" appearance="outline">
                <mat-label>Prix moyen</mat-label>
                <input matInput type="number" formControlName="prix" />
                <mat-error>Valeur invalide</mat-error>
              </mat-form-field>

              <span class="w-1/4 text-center font-bold">{{ calculerTotalRecolte(recolte) }} FCFA</span>

              <button mat-icon-button color="warn" (click)="supprimerRecolte(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div class="flex justify-between items-center border-t mt-4 pt-2">
            <h3 class="text-lg font-bold">Total des pertes :</h3>
            <h3 class="text-lg font-bold text-red-600">{{ getTotalGeneralRecolte() }} FCFA</h3>
          </div>

          <button mat-raised-button color="primary" class="mt-2" (click)="ajouterRecolte()">
            Ajouter une récolte
          </button>
        </form>
      </div>



      <div class="flex justify-center gap-4">
        <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
          <span class="textForm">Retour</span>
        </button>&nbsp;
        <button matStepperNext mat-raised-button class="submit-button">
          <span class="textForm">Suivant</span>
        </button>
      </div>
    </mat-step>


    <mat-step label="Pertes d'arbres">

      <div class="inner-repeater mb-4">
        <div class="inner mb-0 row">
          <div>
            <label for="">Arbres</label>
          </div>

          <!-- Tableau des arbres -->
          <div class="table-responsive">
            <form [formGroup]="arbreForm">
              <table class="w-full border border-gray-300">
                <thead>
                  <tr class="bg-gray-100">
                    <th class="border">Espèce</th>
                    <th class="border">Type</th>
                    <th class="border">Nombre</th>
                    <th class="border">Prix</th>
                    <th class="border">Total</th>
                    <th class="border">Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="arbres">
                  <tr *ngFor="let arbre of arbres.controls; let i = index" [formGroupName]="i" class="border">
                    <td class="border">
                      <mat-form-field appearance="outline" class="w-full">
                        <input matInput type="text" formControlName="espece" />
                        <mat-error>Champ obligatoire</mat-error>
                      </mat-form-field>
                    </td>
                    <td class="border">
                      <mat-form-field appearance="outline" class="w-full">
                        <mat-select formControlName="type">
                          <mat-option value="productif">Productif</mat-option>
                          <mat-option value="non_productif">Non Productif</mat-option>
                        </mat-select>
                        <mat-error>Champ obligatoire</mat-error>
                      </mat-form-field>
                    </td>
                    <td class="border">
                      <mat-form-field appearance="outline" class="w-full">
                        <input matInput type="number" formControlName="nombre" />
                        <mat-error>Champ obligatoire</mat-error>
                      </mat-form-field>
                    </td>
                    <td class="border">
                      <mat-form-field appearance="outline" class="w-full">
                        <input matInput type="number" formControlName="prix" />
                        <mat-error>Champ obligatoire</mat-error>
                      </mat-form-field>
                    </td>
                    <td class="border">
                      <mat-form-field appearance="outline" class="w-full">
                        <input matInput type="number" formControlName="total"  [disabled]="true" />
                      </mat-form-field>
                    </td>
                    <td class="border text-center">
                      <button mat-icon-button color="warn" (click)="supprimerArbre(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="bg-gra0 font-bold">
                    <td colspan="4" class="border text-right">Total Général :</td>
                    <td class="border">{{ totalGeneralArbre }}</td>
                    <td class="border"></td>
                  </tr>
                </tfoot>
              </table>
            </form>
          </div>


          <!-- Bouton pour ajouter une nouvelle ligne -->
          <button mat-raised-button color="primary" (click)="ajouterArbre()" class="mt-3">Ajouter un arbre</button>
        </div>
      </div>



      <div class="flex justify-center gap-4">
        <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
          <span class="textForm">Retour</span>
        </button>&nbsp;
        <button matStepperNext mat-raised-button class="submit-button">
          <span class="textForm">Suivant</span>
        </button>
      </div>
    </mat-step>

    <mat-step label="Signatures">
      <div class="flex gap-2">
        <mat-form-field class="w-full mt-2" appearance="outline">
          <mat-label class="enteteccColor">Perte totales
          </mat-label>
          <input matInput type="number" name="perteTotale" formControlName="perteTotale" [disabled]="true" />
          <mat-error>Le champs est obligatoire</mat-error>
          <mat-icon matSuffix class="secondary-text">code</mat-icon>
        </mat-form-field>
      </div>
      <div class="flex items-center justify-center my-5">
        <div class="w-1/2 mt-2">
          <label for="">Signature du pap</label>
          <img class="w-32 h-32" [src]="initForm.get('urlSignaturePap')?.value" alt=""
            *ngIf="initForm.get('urlSignaturePap')?.value">
          <div class="flex items-center mt-6 lg:mt-0 space-x-6">
            <div class="flex flex-col">
              <input matInput type="text" name="numeroPni" formControlName="urlSignaturePap" hidden />
              <button (click)="signatureClient('urlSignaturePap')"
                class="c_btnAccount_attribut c_btnAccountF h-10 w-10 rounded-full"
                matTooltip="Ajouter signature du Pap">
                <i class="bx bx-pencil"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="w-1/2 mt-2">
          <label for="">Signature du responsable</label>
          <img class="w-32 h-32" [src]="initForm.get('urlSignatureResponsable')?.value" alt=""
            *ngIf="initForm.get('urlSignatureResponsable')?.value">
          <div class="flex items-center mt-6 lg:mt-0 space-x-6">
            <div class="flex flex-col">
              <input matInput type="text" name="numeroPni" formControlName="urlSignatureResponsable" hidden />
              <button (click)="signatureClient('urlSignatureResponsable')"
                class="c_btnAccount_attribut c_btnAccountF h-10 w-10 rounded-full"
                matTooltip="Ajouter signature du Responsable">
                <i class="bx bx-pencil"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="flex justify-center gap-4">
        <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
          <span class="textForm">Retour</span>
        </button>&nbsp;
        <button matStepperNext mat-raised-button class="submit-button">
          <span class="textForm">Suivant</span>
        </button>
      </div> -->
      <div class="flex justify-center gap-4 mt-4">
        <button mat-raised-button class="submit-buttonRed" type="button">
          <span class="textForm">Annuler</span>
        </button>
        <button mat-raised-button class="submit-button" aria-label="VALIDER" type="button" (click)="checkRecap(action)">
          <span class="textForm">{{labelButton}}</span>
        </button>
      </div>
    </mat-step>

    <!-- <mat-step label="Récapitulatif"> -->

    <!-- <div class="p-4">
        <h3 class="recap-title">Signatures</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="flex flex-col items-center">
            <div class="flex space-x-4">
              <div>
                <label for="">Signature du Pap</label>
                <img [src]="initForm.get('urlSignaturePap')?.value" alt="" class="w-1/2 h-auto">
              </div>
              <div>
                <label for="">Signature du responsable</label>
                <img [src]="initForm.get('urlSignatureResponsable')?.value" alt="" class="w-1/2 h-auto">
              </div>
            </div>
          </div>
        </div>
      </div> -->

    <!-- <div class="flex justify-center gap-4 mt-4">
        <button mat-raised-button class="submit-buttonRed" type="button">
          <span class="textForm">Annuler</span>
        </button>
        <button mat-raised-button class="submit-button" aria-label="VALIDER" type="button" (click)="addEntente()">
          <span class="textForm">Ajouter</span>
        </button>
      </div> -->
    <!-- </mat-step> -->



  </form>
</mat-stepper>

<app-loader-data *ngIf="isLoading"></app-loader-data>
