.compensation-card {
  /* max-width: 800px; */
  /* margin: 20px auto; */
  width: 800px;
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;

}

mat-card-subtitle {
  font-size: 15px;
  font-weight: 400;
}

mat-list-item{
  color: black;
  font-size: 14px;
}

.header-avatar {
  background-color: #00020e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

h3 {
  color: #3f51b5;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}

h4 {
  color: #555;
  margin-bottom: 10px;
}

mat-divider {
  margin: 20px 0;
}

mat-list-item {
  border-bottom: 1px solid #eee;
}

.signature-image {
  max-width: 100%;
  height: 170px;
  width: 170px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #f9f9f9;
}



