.task-detail-container {
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  .border-orange {
    border-color: #D45C00;
  }

  .hover\:bg-orange-700:hover {
    background-color: #b84c00;
  }
}

/* Pipe pour formater le statut */
.statutPipe {
  text-transform: capitalize;
}


