<div class="">

  <div class="bgPrimaire py-3  px-1 d-flex items-center justify-between">
    <label for="" class="text-xl">Détail d'une tache</label>
    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow-md">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-grow-1 overflow-hidden">
              <h5 class="font-size-15 ">Libellé :</h5>
              <p class="text-truncate font-size-15">{{tache.libelle}}</p>
            </div>
          </div>

          <h5 class="font-size-15 mt-4">Description :</h5>

          <p class="">{{tache.description}}</p>
          <div class="row task-dates">
            <div class="col-sm-4 col-6">
              <div class="mt-4">
                <h5 class=""><i class="bx bx-calendar me-1"></i> Start Date</h5>
                <p class=" mb-0">{{tache.dateDebut}}</p>
              </div>
            </div>

            <div class="col-sm-4 col-6">
              <div class="mt-4">
                <h5 class=""><i class="bx bx-calendar-check "></i> Due Date</h5>
                <p class=" mb-0">{{tache.dateFin}}</p>
              </div>
            </div>
          </div>
          <div class="my-2">
            <h5 for="">Statut : </h5>
            <span>{{tache.statut}}</span>
          </div>
        </div>
      </div>


    </div>
    <!-- end col -->

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4  text-xl font-bold">Personnes imputées</h2>

          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <tbody>
                @for (item of tache.utilisateurs; track $index) {
                <tr>
                  <td style="width: 50px;"><img src="assets/images/users/avatar-2.jpg" class="rounded-circle avatar-xs"
                      alt=""></td>
                  <td>
                    <h5 class="font-size-14 m-0"><a href="" class="text-dark">{{item.lastname}}</a></h5>
                  </td>
                  <td>

                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  <!-- end row -->
</div>
