<app-page-actions
  title="Nos parties intéressées"
  [breadcrumbItems]="breadCrumbItems"
  searchPlaceholder="Rechercher une partie intéressée..."
  [showSearch]="true"
  [actions]="actions"
  (onSearch)="filterTable($event)"
  (onAction)="handleAction($event)">
</app-page-actions>

<div class="container-fluid">

  <!-- A → Z -->
  <div class="alphabet-bar">
    <span
      *ngFor="let letter of alphabet"
      (click)="scrollTo(letter)"
      class="alphabet-btn"
    >
      {{ letter }}
    </span>
  </div>

  <!-- LOADER -->
  <div *ngIf="loadData" class="text-center mt-4">
    Chargement en cours...
  </div>

  <!-- LISTE -->
  <div *ngFor="let letter of alphabet">
    <div *ngIf="groupedData[letter]?.length">

      <div [id]="letter" class="letter-title">
        {{ letter }}
      </div>

      <div class="list-grid">
        <div
          *ngFor="let item of groupedData[letter]"
          class="list-item"
          (click)="openDetailModal(item)"
        >
          {{ item.libelle }}
        </div>
      </div>

    </div>
  </div>

</div>
