<div>
  <app-page-title title="Catégorie des dossiers" [breadcrumbItems]="breadCrumbItems"
    style="color: green;"></app-page-title>
</div>
<!-- <div style="z-index: 0" class="pt-3 d-flex justify-content-between">
  <button class="btn btn-primary mb-3" (click)="addItems()">Créer une catégorie dossier</button>
</div>

<div class=" row mb-2">
  <div class="col-sm">
    <div class="search-box me-2 d-inline-block">
      <div class="position-relative">
        <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Search..."
          (input)="filterTable($event)">
        <i class="bx bx-search-alt search-icon"></i>
      </div>
    </div>
  </div>
</div> -->



<div class=" row mb-2">
  <div class="col-sm">
    <div class="search-box me-2 d-inline-block">
      <div class="position-relative">
        <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Search..."
          (input)="filterTable($event)">
        <i class="bx bx-search-alt search-icon"></i>
      </div>
    </div>
  </div>
  <div class="col-sm-auto">
    <div class="d-flex flex-wrap gap-2">
      <button type="submit" class="btn btn-success" (click)="addItems()"> <i class="mdi mdi-plus me-1"></i> Créer une catégorie </button>
    </div>
  </div>
</div>
<div style="z-index: 0" class="pt-3">
  <tableau [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [total]="length"
    [coleurEntete]="headers" [entete]="headers" [data]="datas" [actions]="btnActions"
    (changePage)="pageChanged($event)"></tableau>
</div>
