/* Structure principale */
.project-modal-container {
  width: 100%;
  width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-top: 5px solid #4CAF50;
  /* Green */
}

/* En-tête avec logo */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: black;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  height: 40px;
  width: auto;
}

.close-btn {
  color: #D45C00;
}

.close-btn:hover {
  color: #D45C00;
  /* Orange */
  background-color: rgba(212, 92, 0, 0.1);
}

/* Contenu principal */
.modal-content {
  padding: 25px;
}

.app-title {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.app-subtitle {
  color: #D45C00;
  font-size: 14px;
  text-align: center;
  margin-bottom: 25px;
}

/* Sélection de projet */
.project-selector {
  width: 100%;
}

.project-selector .mat-form-field-outline {
  color: #ddd;
}

.project-selector .mat-form-field-outline-thick {
  color: #4CAF50;
  /* Green */
}

.project-option {
  display: flex;
  align-items: center;
}

.project-icon {
  color: #D45C00;
  /* Orange */
  margin-right: 10px;
}

/* État vide */
.empty-state {
  padding: 30px 0;
  text-align: center;
}

.empty-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #D45C00;
  /* Orange */
  margin-bottom: 15px;
}

.empty-state h3 {
  color: #000;
  font-size: 18px;
  margin-bottom: 5px;
}

.empty-state p {
  color: #666;
  margin-bottom: 20px;
}

.create-btn {
  background-color: #4CAF50 !important;
  /* Green */
  color: white !important;
  font-weight: 500;
}

.create-btn mat-icon {
  margin-right: 5px;
}


.orange-o {
  color: #D45C00;
  font-size: larger;
}
