<mat-toolbar class="mat-accent m-0 backToolbar">
  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
    <span class="c_title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row">
  <form action="" [formGroup]="initForm">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div data-repeater-list="outer-group" class="outer">
            <div data-repeater-item class="outer">
              <div class="mb-2">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Libelle</mat-label>
                  <input matInput formControlName="libelle" placeholder="libelle...">
                  <mat-icon matSuffix class="secondary-text">code</mat-icon>
                  <mat-error>Le champ est obligatoire</mat-error>
                </mat-form-field>
              </div>
              <div class="row ">
                  <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" placeholder="Décrivez ici..." rows="3"></textarea>
                    <mat-error>Le champ est obligatoire</mat-error>
                  </mat-form-field>
              </div>
              <div>
                <label class="col-form-label col-lg-2">Date estimée</label>
              </div>
              <div class="form-group row " style="display: flex; align-items: center;">
                <div class="col-lg-6">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Date de début</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dateDebut">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error>Le champ est obligatoire</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Date de fin</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dateFin">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error>Le champ est obligatoire</mat-error>
                  </mat-form-field>
                </div>
              </div>


              <!-- <div class="form-group mb-1">
                <label class="col-form-label">Assigné<span class="text-danger">*</span></label>
                <ul class="list-unstyled user-list validate" id="taskassignee">
                  @for(data of listMo;track $index){
                  <li>
                    <div class="form-check form-check-primary mb-2 d-flex align-items-center">
                      <input class="form-check-input" type="checkbox" [checked]="data.checked == true"
                        (change)="slectMember($index)">
                      <label class="form-check-label ms-2">{{data.firstname}}</label>
                      <img [src]="data.imageUrl" alt="" class="rounded-circle avatar-xs m-1" alt="" />
                    </div>
                  </li>
                  }
                </ul>
              </div> -->
              <div class="mb-3 position-relative">

                <label for="task-assign-input" class="form-label">Assigné à</label>
                <div *ngIf="assignList && assignList.length > 0" class="d-flex flex-wrap mb-2">
                  <ng-container *ngFor="let data of assignList; let i = index">
                    <div class="d-flex align-items-center me-3">
                      @if (data.image) {
                      <img [src]="getImageFromBase64(data.image.type,data.image.image)" alt=""
                        class="rounded-circle avatar-xs me-2">
                      }
                      <span>{{ data.lastname }}</span>
                    </div>
                  </ng-container>
                </div>
                <div class="select-element" id="select-element" dropdown>
                  <button class="btn btn-light w-100 d-flex justify-content-between" dropdownToggle type="button"
                    data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <span>Assigné à <b id="total-assignee" class="mx-1">{{assignList?.length}}</b> Members</span>
                    <i class="mdi mdi-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu w-100" *dropdownMenu>
                    <ngx-simplebar style="max-height: 172px">
                      <ul class="list-unstyled mb-0 assignto-list">
                        <ng-container *ngFor="let data of listMo; let i = index">
                          <li>
                            <a class="dropdown-item d-flex align-items-center"
                              [ngClass]="{'active': data.checked === '1'}" href="javascript:void(0);"
                              (click)="slectMember(i)">
                              <!-- <div class="avatar-xs flex-shrink-0 me-2">
                                @if (data.image) {
                                <img [src]="getImageFromBase64(data.image.type,data.image.image)" alt=""
                                  class="img-fluid rounded-circle" />
                                }

                              </div> -->
                              <div class="flex-grow-1">{{ data.lastname }}</div>
                            </a>
                          </li>
                        </ng-container>
                      </ul>
                    </ngx-simplebar>
                  </div>
                </div>
              </div>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Status<span class="text-danger">*</span></mat-label>
                <mat-select formControlName="statut" required>
                  <mat-option value="" disabled>Choisir...</mat-option>
                  <mat-option value="en-attente">En attente</mat-option>
                  <mat-option value="approuve">Approuvé</mat-option>
                  <mat-option value="en-cours">En cours</mat-option>
                  <mat-option value="complete">Complété</mat-option>
                </mat-select>
                <mat-error>Le champ est obligatoire</mat-error>
              </mat-form-field>

            </div>
          </div>
          <div class="justify-content-end flex items-center flex-row">
            <div class="mx-2">
              <button type="submit" class="btn btn-success w-[100px]" (click)="checkRecap(action)">{{ labelButton }}</button>
            </div>
            <div class="">
              <button class="btn btn-danger cursor-pointer w-[100px]" (click)="annuler()">Annuler</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>

</div>
<!-- end row -->
