<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Détail du projet" [breadcrumbItems]="breadCrumbItems" class="colorTitle"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-shrink-0 me-4">
              <!-- <img
                [src]="DetailProject?.image ? getImageFromBase64(DetailProject.image.type, DetailProject.image.image) : 'assets/images/companies/img-1.png'"
                alt="" class="avatar-sm"> -->
              <img [src]="DetailProject?.imageUrl ? DetailProject.imageUrl : 'assets/images/companies/img-1.png'" alt=""
                class="avatar-sm">
            </div>

            <div class="flex-grow-1 overflow-hidden">
              <h5 class="text-truncate font-size-15">{{DetailProject.libelle}}</h5>
            </div>
          </div>

          <h5 class="font-size-15 mt-4">Project Details :</h5>

          <p class="text-muted">{{DetailProject.description}}</p>
          <div class="row task-dates">
            <div class="col-sm-4 col-6">
              <div class="mt-4">
                <h5 class="font-size-14"><i class="bx bx-calendar me-1 text-primary"></i> Start Date</h5>
                <p class="text-muted mb-0">{{DetailProject.datedebut}}</p>
              </div>
            </div>

            <div class="col-sm-4 col-6">
              <div class="mt-4">
                <h5 class="font-size-14"><i class="bx bx-calendar-check me-1 text-primary"></i> Due Date</h5>
                <p class="text-muted mb-0">{{DetailProject.datefin}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 colorTitle">Personnes Affectées</h4>

          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <tbody>
                @for (item of DetailProject.users; track $index) {
                <tr>
                  <td style="width: 50px;"><img src="assets/images/users/avatar-2.jpg" class="rounded-circle avatar-xs"
                      alt=""></td>
                  <td>
                    <h5 class="font-size-14 m-0"><a href="" class="text-dark">{{item.lastname}}</a></h5>
                  </td>
                  <td></td>
                </tr>
                }

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 colorTitle">Fichiers liés</h4>
          <div class="table-responsive">
            <table class="table table-nowrap align-middle table-hover mb-0">
              <tbody>
                <tr *ngFor="let item of DetailProject.fichiers; let i = index">
                  <td style="width: 45px;">
                    <div class="avatar-sm">
                      <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24">
                        <i class="bx bxs-file-doc"></i>
                      </span>
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1">
                      <a [href]="item.fichierUrl" class="text-dark" target="_blank">
                        {{ getFileName(item.fichierUrl) }}
                      </a>
                    </h5>
                  </td>
                  <td>
                    <div class="text-center">
                      <a [href]="item.fichierUrl" target="_blank" class="text-dark">
                        <i class="bx bx-download h3 m-0"></i>
                      </a>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- end col -->

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 colorTitle">Normes du projets</h4>

          @for (item of DetailProject.normeProjets; track $index) {
          <div class="d-flex mb-4">
            <div class="flex-grow-1">
              <h5 class="font-size-13 mb-1">{{item.titre}}</h5>
              <p class="text-muted mb-1">
                {{item.description}}
              </p>
            </div>
          </div>

          }


        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
