<div class="modalIndex">

  <mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
      <span class="c_title dialog-title">{{ dialogTitle }}</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Fermer" class="closeButton">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <app-loader *ngIf="isLoading"></app-loader>

  <div class="p-3">
    <form [formGroup]="initForm">
      <mat-stepper #stepper linear orientation="horizontal">

        <!-- ÉTAPE 1 : Identification -->
        <mat-step label="Identification">
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Numéro de référence</mat-label>
                <input matInput formControlName="numeroReference">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Statut</mat-label>
                <mat-select formControlName="statut">
                  <mat-option *ngFor="let s of statuts" [value]="s">{{ s }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date d'enregistrement *</mat-label>
                <input matInput [matDatepicker]="pickerDate" formControlName="dateEnregistrement">
                <mat-datepicker-toggle matIconSuffix [for]="pickerDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate></mat-datepicker>
                <mat-error>Champ obligatoire</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mois de réception</mat-label>
                <input matInput formControlName="moisReception">
              </mat-form-field>
            </div>
          </div>
          <div class="text-end mt-2">
            <button mat-button matStepperNext type="button" class="btn bgPrimaire text-white">Suivant</button>
          </div>
        </mat-step>

        <!-- ÉTAPE 2 : Plaignant (PAP) -->
        <mat-step label="Plaignant">
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nom & Prénom *</mat-label>
                <input matInput formControlName="nomPrenom">
                <mat-error>Champ obligatoire</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Code PAP</mat-label>
                <input matInput formControlName="codePap">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Sexe</mat-label>
                <mat-select formControlName="sexe">
                  <mat-option *ngFor="let s of sexes" [value]="s">{{ s }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Téléphone</mat-label>
                <input matInput formControlName="telephone">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Type PAP</mat-label>
                <mat-select formControlName="typePap">
                  <mat-option *ngFor="let t of typesPap" [value]="t">{{ t }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mandataire</mat-label>
                <input matInput formControlName="mandataire">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Type carte d'identité</mat-label>
                <input matInput formControlName="typeCarteIdentite">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>CIN</mat-label>
                <input matInput formControlName="cin">
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <button mat-button matStepperPrevious type="button">Retour</button>
            <button mat-button matStepperNext type="button" class="btn bgPrimaire text-white">Suivant</button>
          </div>
        </mat-step>

        <!-- ÉTAPE 3 : Localisation -->
        <mat-step label="Localisation">
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Village / Quartier</mat-label>
                <input matInput formControlName="villageQuartier">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Zone</mat-label>
                <input matInput formControlName="plainteParZone">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Périmètre GMP</mat-label>
                <input matInput formControlName="perimetreGmp">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>N° Parcelle</mat-label>
                <input matInput formControlName="numeroParcelle">
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <button mat-button matStepperPrevious type="button">Retour</button>
            <button mat-button matStepperNext type="button" class="btn bgPrimaire text-white">Suivant</button>
          </div>
        </mat-step>

        <!-- ÉTAPE 4 : Plainte -->
        <mat-step label="Plainte">
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Catégorisation *</mat-label>
                <mat-select formControlName="categorisation">
                  <mat-option *ngFor="let c of categorisations" [value]="c">{{ c }}</mat-option>
                </mat-select>
                <mat-error>Champ obligatoire</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Objet de la plainte *</mat-label>
                <input matInput formControlName="objetPlainte">
                <mat-error>Champ obligatoire</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Niveau de gravité *</mat-label>
                <mat-select formControlName="niveauGravite">
                  <mat-option *ngFor="let n of niveauxGravite" [value]="n">{{ n }}</mat-option>
                </mat-select>
                <mat-error>Champ obligatoire</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Facilitateur</mat-label>
                <input matInput formControlName="facilitateur">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Description de la plainte *</mat-label>
                <textarea matInput rows="4" formControlName="descriptionPlainte"></textarea>
                <mat-error>Champ obligatoire</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <button mat-button matStepperPrevious type="button">Retour</button>
            <button mat-button matStepperNext type="button" class="btn bgPrimaire text-white">Suivant</button>
          </div>
        </mat-step>

        <!-- ÉTAPE 5 : Résolution -->
        <mat-step label="Résolution">
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Description du règlement</mat-label>
                <textarea matInput rows="3" formControlName="descriptionReglement"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Observations</mat-label>
                <textarea matInput rows="3" formControlName="observations"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Communication Résolution 1</mat-label>
                <input matInput formControlName="communicationResolution1">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date traitement Consultant</mat-label>
                <input matInput [matDatepicker]="pickerConsultant" formControlName="dateTraitementConsultant">
                <mat-datepicker-toggle matIconSuffix [for]="pickerConsultant"></mat-datepicker-toggle>
                <mat-datepicker #pickerConsultant></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date de visite</mat-label>
                <input matInput [matDatepicker]="pickerVisite" formControlName="dateVisite">
                <mat-datepicker-toggle matIconSuffix [for]="pickerVisite"></mat-datepicker-toggle>
                <mat-datepicker #pickerVisite></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Communication Résolution 2</mat-label>
                <input matInput formControlName="communicationResolution2">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date traitement CLM</mat-label>
                <input matInput [matDatepicker]="pickerClm" formControlName="dateTraitementClm">
                <mat-datepicker-toggle matIconSuffix [for]="pickerClm"></mat-datepicker-toggle>
                <mat-datepicker #pickerClm></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Communication Résolution 3</mat-label>
                <input matInput formControlName="communicationResolution3">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date traitement CCD</mat-label>
                <input matInput [matDatepicker]="pickerCcd" formControlName="dateTraitementCcd">
                <mat-datepicker-toggle matIconSuffix [for]="pickerCcd"></mat-datepicker-toggle>
                <mat-datepicker #pickerCcd></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Résolution finale</mat-label>
                <input matInput formControlName="resolutionPlainte">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Si non, expliquez</mat-label>
                <input matInput formControlName="siNonExpliquez">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Prochaine étape</mat-label>
                <input matInput formControlName="prochaineEtape">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date de clôture</mat-label>
                <input matInput [matDatepicker]="pickerCloture" formControlName="dateCloture">
                <mat-datepicker-toggle matIconSuffix [for]="pickerCloture"></mat-datepicker-toggle>
                <mat-datepicker #pickerCloture></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Délai de résolution</mat-label>
                <input matInput formControlName="delaiResolution">
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <button mat-button matStepperPrevious type="button">Retour</button>
            <button type="button" class="btn bgPrimaire text-white" (click)="checkRecap()">
              {{ labelButton }}
            </button>
          </div>
        </mat-step>

      </mat-stepper>
    </form>
  </div>

</div>
