<mat-toolbar class="mat-accent m-0 backToolbar">
  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
    <span class="c_title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<app-loader-data *ngIf="loader"></app-loader-data>


<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
  <form [formGroup]="initForm" class="event-form w-100-p">
    <mat-stepper #stepper linear>
      <mat-step label="Informations personnelles" [completed]="isStepValid(0)">
        <!-- Code PAP -->


        <div class="flex gap-2">
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Prénom</mat-label>
            <input class="typeTitle" matInput type="text" name="prenom" formControlName="prenom" />
            <mat-error *ngIf="initForm.get('prenom')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- Nom -->
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Nom</mat-label>
            <input class="typeTitle" matInput type="text" name="nom" formControlName="nom" />
            <mat-error *ngIf="initForm.get('nom')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Prénom -->


        <div class="flex gap-2">
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Sexe</mat-label>
            <mat-select formControlName="sexe">
              <mat-option value="Masculin">Masculin</mat-option>
              <mat-option value="Féminin">Féminin</mat-option>
            </mat-select>
            <mat-error *ngIf="initForm.get('sexe')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Code PAP</mat-label>
            <input class="typeTitle" matInput type="text" name="codePap" formControlName="codePap" />
            <mat-error *ngIf="initForm.get('codePap')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Sexe -->


        <div class="flex gap-2">
          <!-- Nationalité -->
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Nationalité</mat-label>
            <input class="typeTitle" matInput type="text" name="nationalite" formControlName="nationalite" />
            <mat-error *ngIf="initForm.get('nationalite')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- Situation matrimoniale -->
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Situation matrimoniale</mat-label>
            <input class="typeTitle" matInput type="text" name="situationMatrimoniale"
              formControlName="situationMatrimoniale" />
            <mat-error *ngIf="initForm.get('situationMatrimoniale')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex gap-2">
          <!-- Commune -->
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Commune</mat-label>
            <input class="typeTitle" matInput type="text" name="commune" formControlName="commune" />
            <mat-error *ngIf="initForm.get('commune')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- Département -->
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Département</mat-label>
            <input class="typeTitle" matInput type="text" name="departement" formControlName="departement" />
            <mat-error *ngIf="initForm.get('departement')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>

        </div>

        <div class="flex gap-2">
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Langue parlée</mat-label>
            <input class="typeTitle" matInput type="text" name="langueParlee" formControlName="langueParlee" />
          </mat-form-field>

          <!-- Niveau d'étude -->
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Niveau d'étude</mat-label>
            <input class="typeTitle" matInput type="text" name="niveauEtude" formControlName="niveauEtude" />
          </mat-form-field>
        </div>
        <div class="flex gap-2">
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Religion</mat-label>
            <input class="typeTitle" matInput type="text" name="religion" formControlName="religion" />
          </mat-form-field>
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Nombre de parcelles</mat-label>
            <input class="typeTitle" matInput type="number" name="nombreParcelle" formControlName="nombreParcelle" />
            <mat-error *ngIf="initForm.get('nombreParcelle')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Langue parlée -->


        <!-- Religion -->


        <!-- Boutons de navigation -->
        <div class="flex justify-center gap-4 mt-4">
          <button mat-raised-button matDialogClose class="submit-buttonRed" matStepperPrevious type="button">
            <span class="textForm">Annuler</span>
          </button>
          <button mat-raised-button class="submit-button" aria-label="VALIDER" type="button">
            <span class="textForm" (click)="nextStep(stepper)">Suivant</span>
          </button>
        </div>
      </mat-step>

      <mat-step label="Informations sur la parcelle" [completed]="isStepValid(1)">
        <!-- Code parcelle -->
        <div class="flex gap-2">
          <!-- Nombre de parcelles -->

          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Code parcelle</mat-label>
            <input class="typeTitle" matInput type="text" name="codeParcelle" formControlName="codeParcelle" />
            <mat-error *ngIf="initForm.get('codeParcelle')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-1/2 mt-2" appearance="outline">
            <mat-label class="enteteccColor">Superficie</mat-label>
            <input class="typeTitle" matInput type="number" name="superficie" formControlName="superficie" />
          </mat-form-field>
        </div>

        <!-- Évaluation de la perte -->
        <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Évaluation de la perte</mat-label>
            <textarea matInput name="evaluationPerte" formControlName="evaluationPerte" class="typeTitle"></textarea>
            <mat-error *ngIf="initForm.get('evaluationPerte')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>



        <!-- <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte arbres jeunes</mat-label>
            <input type="number" matInput name="perteArbreJeune" formControlName="perteArbreJeune" class="typeTitle">
            <mat-error *ngIf="initForm.get('perteArbreJeune')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte arbres adultes</mat-label>
            <input type="number" matInput name="perteArbreAdulte" formControlName="perteArbreAdulte" class="typeTitle">
            <mat-error *ngIf="initForm.get('perteArbreAdulte')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div> -->

          <div class="flex gap-2">
          <!-- Informations supplémentaires -->
          <!-- <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Description</mat-label>
            <textarea class="typeTitle" matInput name="description"
              formControlName="description"></textarea>
          </mat-form-field> -->
        </div>

         <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte Totale perteTotaleArbres</mat-label>
            <input type="number" matInput name="perteTotaleArbre" formControlName="perteTotaleArbre" class="typeTitle">
            <mat-error *ngIf="initForm.get('perteTotaleArbres')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>



        <div class="flex gap-2">

          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Caractéristique parcelle</mat-label>
            <textarea class="typeTitle" matInput name="caracteristiqueParcelle"
              formControlName="caracteristiqueParcelle"></textarea>
            <mat-error *ngIf="initForm.get('caracteristiqueParcelle')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>


        </div>

        <!-- Boutons de navigation -->
        <div class="flex justify-center gap-4 mt-4">
          <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
            <span class="textForm">Précédent</span>
          </button>
          <button mat-raised-button class="submit-button" type="button" (click)="nextStep(stepper)">
            <span class="textForm">Suivant</span>
          </button>
        </div>
      </mat-step>








      <mat-step label="Documents et détails supplémentaires" [completed]="isStepValid(2)">
        <div class="flex  flex-col gap-2">
          <!-- Photo PAP -->
          <div class="row">
            <label for="">Photo du Pap</label>
            <div class="col-lg-12 text-center mb-4">
              <div class="position-relative d-inline-block">
                <div class="position-absolute bottom-0 end-0">
                  <label for="member-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Select Member Image">
                    <div class="avatar-xs">
                      <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                        <i class="bx bxs-image-alt"></i>
                      </div>
                    </div>
                  </label>
                  <input class="form-control d-none" id="member-image-input" type="file"
                    accept="image/png, image/gif, image/jpeg"
                    (change)="selectOnFile($event,'photo_profile','Thumbnail')">
                  <!-- Bouton pour supprimer l'image -->
                  @if (uploadedImage) {
                  <div>
                    <button type="button" class="btn btn-danger btn-sm mt-1" id="delete-image-btn"
                      (click)="deleteImage()">
                      <i class="bx bx-trash me-1"></i>
                    </button>
                  </div>
                  }
                </div>
                <div class="avatar-lg">
                  <div class="avatar-title bg-light rounded-circle">
                    <!-- <img src="assets/images/users/user-dummy-img.jpg" id="member-img"
                      class="avatar-md rounded-circle h-auto" /> -->
                    <img [src]="imageToff ? imageToff : 'assets/images/users/user-dummy-img.jpg'"
                      class="avatar-md rounded-circle h-auto" (click)="openImageModal(imageToff)" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" flex gap-2">
            <!-- <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Statut PAP</mat-label>
              <input class="typeTitle" matInput type="text" name="statutPap" formControlName="statutPap" />
              <mat-error *ngIf="initForm.get('statutPap')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field> -->

            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Statut PAP</mat-label>
              <mat-select class="typeTitle" formControlName="statutPap" name="statutPap">
                <mat-option value="recense" selected>Recensé (en attente d'instruction)</mat-option>
                <mat-option value="en_etude">En étude</mat-option>
                <mat-option value="indemnisation_engagee">Indemnisation engagée</mat-option>
                <mat-option value="indemnisation_terminee">Indemnisation terminée</mat-option>
                <mat-option value="en_contentieux">En contentieux</mat-option>
              </mat-select>
              <mat-error *ngIf="initForm.get('statutPap')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Vulnerabilité</mat-label>
              <input class="typeTitle" matInput type="text" name="vulnerabilite" formControlName="vulnerabilite" />
              <mat-error *ngIf="initForm.get('vulnerabilite')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>
          </div>

          <div class="flex gap-2">
            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Type de piece d'identification</mat-label>
              <input class="typeTitle" matInput type="text" name="typePni" formControlName="typePni" />
              <mat-error *ngIf="initForm.get('typePni')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Numéro de piéce</mat-label>
              <input class="typeTitle" matInput type="text" name="numeroPni" formControlName="numeroPni" />
              <mat-error *ngIf="initForm.get('numeroPni')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>
          </div>

          <div class="flex gap-2">
            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Surnom</mat-label>
              <input class="typeTitle" matInput type="text" name="surnom" formControlName="surnom" />
              <mat-error *ngIf="initForm.get('surnom')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Numéro de téléphone</mat-label>
              <input class="typeTitle" matInput type="text" name="numeroTelephone" formControlName="numeroTelephone" />
              <mat-error *ngIf="initForm.get('numeroTelephone')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>
          </div>

          <div class=" flex gap-2">
            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor"> Nombre de membre familial</mat-label>
              <input class="typeTitle" matInput type="text" name="membreFoyer" formControlName="membreFoyer" />
              <mat-error *ngIf="initForm.get('membreFoyer')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full mt-2" appearance="outline">
              <mat-label class="enteteccColor">Nombre de membre familial handicapé</mat-label>
              <input class="typeTitle" matInput type="text" name="membreFoyerHandicape"
                formControlName="membreFoyerHandicape" />
              <mat-error *ngIf="initForm.get('membreFoyerHandicape')?.hasError('required')">
                Le champ est obligatoire
              </mat-error>
            </mat-form-field>
          </div>


        </div>

        <!-- Boutons de navigation -->
        <div class="flex justify-center gap-4 mt-4">
          <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
            <span class="textForm">Précédent</span>
          </button>

          <!-- <button [disabled]="loader" mat-raised-button class="submit-button" (click)="checkRecap(action)">
            <span class="textForm">{{ labelButton }}</span>
          </button> -->
          <button mat-raised-button class="submit-button" (click)="nextStep(stepper)">
            <span class="textForm">Suivant</span>
          </button>
        </div>
      </mat-step>

      <mat-step label="Batiments /Equipements" [completed]="isStepValid(3)">


        <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte equipements</mat-label>
            <input matInput type="number" name="perteEquipement" formControlName="perteEquipement" class="typeTitle">
            <mat-error *ngIf="initForm.get('perteEquipement')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte batiments</mat-label>
            <input matInput name="perteBatiment" formControlName="perteBatiment" class="typeTitle">
            <mat-error *ngIf="initForm.get('perteBatiment')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte totale</mat-label>
            <textarea matInput name="perteTotale" formControlName="perteTotale" class="typeTitle"></textarea>
            <mat-error *ngIf="initForm.get('perteTotale')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div> -->


        <div class="flex gap-2">
          <!-- Informations supplémentaires -->
          <!-- <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte loyer</mat-label>
            <input type="number" class="typeTitle" matInput name="perteLoyer" formControlName="perteLoyer">
          </mat-form-field> -->
        </div>
        <div class="flex gap-2">
          <!-- Informations supplémentaires -->
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte cloture</mat-label>
            <input type="number" class="typeTitle" matInput name="perteCloture" formControlName="perteCloture">
          </mat-form-field>
        </div>







        <div class="flex gap-2">
          <!-- Informations supplémentaires -->
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Informations Etendues</mat-label>
            <textarea class="typeTitle" matInput name="informationsEtendues"
              formControlName="informationsEtendues"></textarea>
          </mat-form-field>
        </div>





        <!-- Boutons de navigation -->
        <div class="flex justify-center gap-4 mt-4">
          <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
            <span class="textForm">Précédent</span>
          </button>
          <button mat-raised-button class="submit-button" type="button" (click)="nextStep(stepper)">
            <span class="textForm">Suivant</span>
          </button>
        </div>
      </mat-step>



      <mat-step label="Revenues" [completed]="isStepValid(4)">


        <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte revenues</mat-label>
            <textarea matInput name="perteRevenue" formControlName="perteRevenue" class="typeTitle"></textarea>
            <mat-error *ngIf="initForm.get('perteRevenue')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Frais de déplacement</mat-label>
            <input type="number" matInput name="fraisDeplacement" formControlName="fraisDeplacement" class="typeTitle">
            <mat-error *ngIf="initForm.get('fraisDeplacement')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>




        <div class="flex gap-2">
          <!-- Informations supplémentaires -->
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Appuie à la récolalisation</mat-label>
            <input type="number" class="typeTitle" matInput name="appuieRelocalisation"
              formControlName="appuieRelocalisation">
          </mat-form-field>
        </div>
        <div class="flex gap-2">
          <!-- Informations supplémentaires -->
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte cloture</mat-label>
            <input class="typeTitle" type="number" matInput name="perteCloture" formControlName="perteCloture">
          </mat-form-field>
        </div>

        <div class="flex gap-2">
          <mat-form-field class="w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Perte totale</mat-label>
            <input type="number" matInput name="perteTotale" formControlName="perteTotale" class="typeTitle">
            <mat-error *ngIf="initForm.get('perteTotale')?.hasError('required')">
              Le champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
<div class="flex flex-col  gap-2">
  <mat-label class="enteteccColor w-full mt-2">Option de paiement</mat-label>
  <mat-radio-group formControlName="optionPaiement" class="flex flex-col gap-2">
    <mat-radio-button value="Chèque ou Fiche de retrait" class="typeTitle">
      Chèque ou Fiche de retrait
    </mat-radio-button>
    <mat-radio-button value="Mise à disposition" class="typeTitle">
      Mise à disposition
    </mat-radio-button>
    <mat-radio-button value="Virement bancaire" class="typeTitle">
      Virement bancaire
    </mat-radio-button>
  </mat-radio-group>
</div>
        <!-- Boutons de navigation -->
        <div class="flex justify-center gap-4 mt-4">
          <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
            <span class="textForm">Précédent</span>
          </button>
          <button mat-raised-button class="submit-button" (click)="nextStep(stepper)" type="button">
            <span class="textForm">Suivant</span>
          </button>
        </div>
      </mat-step>

      <mat-step label="Récapitulatif" [completed]="isStepValid(5)">
        <mat-accordion>
          <!-- Section 1 : Informations personnelles -->
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <div class="flex justify-between w-full items-center">
                <span class="font-semibold text-lg">Informations personnelles</span>
                <button mat-icon-button (click)="goToStep(0)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </mat-expansion-panel-header>
            <div class="p-4">
              <div class="grid grid-cols-2 gap-4">
                <div><strong>Nom :</strong> {{ initForm.get('nom')?.value }}</div>
                <div><strong>Prénom :</strong> {{ initForm.get('prenom')?.value }}</div>
                <div><strong>Sexe :</strong> {{ initForm.get('sexe')?.value }}</div>
                <div><strong>Nationalité :</strong> {{ initForm.get('nationalite')?.value }}</div>
                <div><strong>Situation matrimoniale :</strong> {{ initForm.get('situationMatrimoniale')?.value }}</div>
                <div><strong>Commune :</strong> {{ initForm.get('commune')?.value }}</div>
                <div><strong>Département :</strong> {{ initForm.get('departement')?.value }}</div>
                <div><strong>Langue parlée :</strong> {{ initForm.get('langueParlee')?.value }}</div>
                <div><strong>Niveau d'étude :</strong> {{ initForm.get('niveauEtude')?.value }}</div>
                <div><strong>Religion :</strong> {{ initForm.get('religion')?.value }}</div>
                <div><strong>Nombre de parcelles :</strong> {{ initForm.get('nombreParcelle')?.value }}</div>
              </div>
            </div>
          </mat-expansion-panel>

          <!-- Section 2 : Informations sur la parcelle -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="flex justify-between w-full items-center">
                <span class="font-semibold text-lg">Informations sur la parcelle</span>
                <button mat-icon-button (click)="goToStep(1)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </mat-expansion-panel-header>
            <div class="p-4">
              <div class="grid grid-cols-2 gap-4">
                <div><strong>Code parcelle :</strong> {{ initForm.get('codeParcelle')?.value }}</div>
                <div><strong>Superficie :</strong> {{ initForm.get('superficie')?.value }}</div>
                <div><strong>Évaluation de la perte :</strong> {{ initForm.get('evaluationPerte')?.value }}</div>
                <div><strong>Perte arbres jeunes :</strong> {{ initForm.get('perteArbreJeune')?.value }}</div>
                <div><strong>Perte arbres adultes :</strong> {{ initForm.get('perteArbreAdulte')?.value }}</div>
                <div><strong>Caractéristique parcelle :</strong> {{ initForm.get('caracteristiqueParcelle')?.value }}
                </div>
              </div>
            </div>
          </mat-expansion-panel>

          <!-- Section 3 : Documents et détails supplémentaires -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="flex justify-between w-full items-center">
                <span class="font-semibold text-lg">Documents et détails supplémentaires</span>
                <button mat-icon-button (click)="goToStep(2)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </mat-expansion-panel-header>
            <div class="p-4">
              <div class="grid grid-cols-2 gap-4">
                <div><strong>Statut PAP :</strong> {{ initForm.get('statutPap')?.value }}</div>
                <div><strong>Vulnérabilité :</strong> {{ initForm.get('vulnerabilite')?.value }}</div>
                <div><strong>Type de pièce d'identification :</strong> {{ initForm.get('typePni')?.value }}</div>
                <div><strong>Numéro de pièce :</strong> {{ initForm.get('numeroPni')?.value }}</div>
                <div><strong>Surnom :</strong> {{ initForm.get('surnom')?.value }}</div>
                <div><strong>Numéro de téléphone :</strong> {{ initForm.get('numeroTelephone')?.value }}</div>
                <div><strong>Nombre de membres familiaux :</strong> {{ initForm.get('membreFoyer')?.value }}</div>
                <div><strong>Nombre de membres familiaux handicapés :</strong> {{
                  initForm.get('membreFoyerHandicape')?.value }}</div>
              </div>
            </div>
          </mat-expansion-panel>

          <!-- Section 4 : Bâtiments / Équipements -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="flex justify-between w-full items-center">
                <span class="font-semibold text-lg">Bâtiments / Équipements</span>
                <button mat-icon-button (click)="goToStep(3)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </mat-expansion-panel-header>
            <div class="p-4">
              <div class="grid grid-cols-2 gap-4">
                <div><strong>Perte équipements :</strong> {{ initForm.get('perteEquipement')?.value }}</div>
                <div><strong>Perte bâtiments :</strong> {{ initForm.get('perteBatiment')?.value }}</div>
                <div><strong>Perte loyer :</strong> {{ initForm.get('perteLoyer')?.value }}</div>
                <div><strong>Perte clôture :</strong> {{ initForm.get('perteCloture')?.value }}</div>
                <div><strong>Informations étendues :</strong> {{ initForm.get('informationsEtendues')?.value }}</div>
              </div>
            </div>
          </mat-expansion-panel>

          <!-- Section 5 : Revenus -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="flex justify-between w-full items-center">
                <span class="font-semibold text-lg">Revenus</span>
                <button mat-icon-button (click)="goToStep(4)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </mat-expansion-panel-header>
            <div class="p-4">
              <div class="grid grid-cols-2 gap-4">
                <div><strong>Perte revenus :</strong> {{ initForm.get('perteRevenue')?.value }}</div>
                <div><strong>Frais de déplacement :</strong> {{ initForm.get('fraisDeplacement')?.value }}</div>
                <div><strong>Appui à la relocalisation :</strong> {{ initForm.get('appuieRelocalisation')?.value }}
                </div>
                 <div><strong>Perte totale arbres :</strong> {{ initForm.get('perteTotaleArbre')?.value }}</div>
                <div><strong>Perte totale :</strong> {{ initForm.get('perteTotale')?.value }}</div>
                 <div><strong>Option de paiement :</strong> {{ initForm.get('optionPaiement')?.value }}</div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- Boutons de navigation -->
        <div class="flex justify-center gap-4 mt-3">
          <button mat-raised-button class="submit-buttonRed" matStepperPrevious type="button">
            <span class="textForm">Retour</span>
          </button>&nbsp;
          <button [disabled]="loader" mat-raised-button class="submit-button" (click)="checkRecap(action)">
            <span class="textForm">{{ labelButton }}</span>
          </button>
        </div>
      </mat-step>

    </mat-stepper>
  </form>
</div>
