<div class="container" *ngIf="loadData">
  <h1 class="couleurPrimary py-3">Statistiques dynamiques relatives à la mise en œuvre du PAR</h1>
  <app-loader-custom></app-loader-custom>
</div>
<div class="container" *ngIf="!loadData">
  <h1 class="couleurPrimary py-3">Statistiques dynamiques relatives à la mise en œuvre du PAR</h1>
  <div class="section-jobs">
    <h2 class="couleurPrimary">
      <mat-icon>folder</mat-icon> Statut des dossiers
    </h2>
    <div class="cards">
      <div class="card">
        <mat-icon class="card-icon">description</mat-icon>
        <div class="card-content">
          <div class="card-title">Ententes de compensation</div>
          <div class="card-value">{{ ententesCompensation }}</div>
        </div>
      </div>
      <div class="card">
        <mat-icon class="card-icon">send</mat-icon>
        <div class="card-content">
          <div class="card-title">Dossiers transmis pour paiement</div>
          <div class="card-value">{{ dossiersTransmis }}</div>
        </div>
      </div>
      <div class="card">
        <mat-icon class="card-icon">payments</mat-icon>
        <div class="card-content">
          <div class="card-title">Nombre de PAP payées</div>
          <div class="card-value">{{ papPayees }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart-row">
    <div class="chart-container">
      <h2 class="couleurPrimary">
        <mat-icon>pie_chart</mat-icon> Effectif Désagrégé de PAP selon les Catégories
      </h2>
      <apx-chart [series]="pieChart.series" [chart]="pieChart.chart" [labels]="pieChart.labels"
        [colors]="pieChart.colors" [legend]="pieChart.legend">
      </apx-chart>
    </div>
    <div class="chart-container">
      <h2 class="couleurPrimary">
        <mat-icon>accessibility</mat-icon> Selon la vulnérabilité
      </h2>
      <apx-chart [series]="vulnerableChart.series" [chart]="vulnerableChart.chart" [labels]="vulnerableChart.labels"
        [colors]="vulnerableChart.colors" [legend]="vulnerableChart.legend">
      </apx-chart>
    </div>
  </div>
  <div class="last-charts-row">
    <div class="chart-container">
      <h2 class="couleurPrimary">
        <mat-icon>stacked_bar_chart</mat-icon> Effectif féminin et masculin par catégorie
      </h2>
      <apx-chart [series]="barChart.series" [chart]="barChart.chart" [xaxis]="barChart.xaxis" [colors]="barChart.colors"
        [legend]="barChart.legend" [plotOptions]="barChart.plotOptions">
      </apx-chart>
    </div>
    <div class="chart-container">
      <h2 class="couleurPrimary">
        <mat-icon>bar_chart</mat-icon> Total des compensations par catégorie
      </h2>
      <apx-chart [series]="compensationChart.series" [chart]="compensationChart.chart" [xaxis]="compensationChart.xaxis"
        [colors]="compensationChart.colors" [dataLabels]="compensationChart.dataLabels">
      </apx-chart>
    </div>
  </div>
</div>
