.container {
  width: 100%;
  margin: 0 auto;
}


.container h1{
  font-size:17px;
  font-weight: bold;
}





.cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  flex: 1;
  min-width: 150px;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size:15px;
  color:rgb(66, 69, 71);
  font-style: italic;
  font-weight: bolder;
}




.section-jobs {
margin-top:10px;
margin-bottom: 10px;
}
.section-jobs h2{
  margin-bottom: 25px;
}

h2 {
  font-size:17px;
  font-weight:bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

span {
  font-weight: bold;
  color: #011830;
}


.chart-container {
  display: inline-block;
  margin: 20px auto;
  width: 50%;
}
